<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">
	  
	<th:block layout:fragment="customJsScript"></th:block>

	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">

		<style>
			.cart-section {
				background-color: #f5f6fa; 
				padding: 60px 0 100px; 
				margin: 0; 
				border-top: #e5e5e5 1px solid;
			}
			.container h4 {
				text-align: center;
				margin-bottom: 30px;
			}
			.container p{
				text-align: center;
				margin: 0;
			}

		</style>
		
		<!-- 게시판 타이틀 -->
		<div id="container">
			<div id="top-loca">
				<div class="boardPath">
					<a th:href="@{/}">HOME</a>
					 > 
					<a th:href="@{/user/board/qnaList}">문의사항</a>
				</div>	
				<h2>문의사항</h2>			
			</div>
		</div>	
		
		<!-- 게시판 탭  -->			
		<div class="list-group list-group-horizontal col-sm-6" style="margin:0 auto; text-align: center;">
	  		<a th:href="@{/user/board/noticeList}" class="list-group-item list-group-item-action">공지사항</a>
			<a th:href="@{/user/board/eventList}" class="list-group-item list-group-item-action">이벤트</a>
			<a th:href="@{/user/board/faqList}" class="list-group-item list-group-item-action">FAQ</a>
			<a th:href="@{/user/board/qnaList}" class="list-group-item list-group-item-action active" style="background-color: #F28123; border-color: #F28123;" aria-current="true">문의사항</a>
		</div>
		
		<!-- QnA category -->
		<div class="cart-section mt-150 mb-150">
			<div class="container">			
				
				

				<h4>비밀글 보기</h4>
					<p>이 글은 비밀글입니다. </p>
					<p>관리자와 작성자만 볼 수 있습니다.</p>
					
					<div style="text-align: center; margin-top: 50px;">
					<a href="javascript:history.back();" class="boxed-btn" style="font-size: 15px;" >BACK</a>	
					</div>
				</div>
			</div>
	</th:block>		

</html>