<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminDefault}">



<div class="x_panel">
	<th:block layout:fragment="customContents">

		<div class="admin-board-list" style="margin-top: 100px;">
			<h4 style="margin-bottom: 50px;">!!!!!올체크!!!!!!</h4>

			<table id="reportList" class="table table-striped table-bordered"
				style="width: 100%;">
				<thead>
					<tr>
						<th>이이</th>
						<th>이이</th>
				

					</tr>
				</thead>

				<tr>
					<td>조회된 내용이 없습니다.</td>
					<td><button
								type="button" class="btn btn-secondary">근데 여기는 매출로 들어가야되는거 아닌가?</button></td>
				</tr>
			</table>
		</div>
</div>
</th:block>
	<div class="x_panel">
			<h2>올체크</h2>
			<input type="button" value="세탁배송확인?(올체크)으로 연결!" onclick="location.href='#'" >
	</div>
		
</th:block>

</html>