<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/userDefault}">


<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
	<div class="payContainer" style="background-color: #FCFCFC;">
		<div id="payOrder">
			<div id="payH3">
				<div class="payOrder-header">
					<h3>주문/결제</h3>
				</div>
			</div>

			<form id="payForm" name="payForm" method="post">

				<div class="product-area">
					<span class="top-line"></span>
					<table class="tb-products">
						<colgroup>
							<col width="160">
							<col width="160">
							<col width="160">
							<col width="160">
							<col width="160">
							<col>
						</colgroup>
						<thead class="point-plus">
							<tr>
								<th scope="col" class="product">주문정보</th>
								<th scope="col">세탁소</th>
								<th scope="col">세탁물</th>
								<th scope="col">배송비</th>
								<th scope="col" class="bg-point">할인</th>
								<th scope="col" class="col-price">세탁비용(할인, 배달료 포함)</th>
							</tr>
						</thead>
						<tbody>




							<tr>
								<td>수거예약</td>

								<td rowspan="1">현우세탁소</td>
								<td>2개
									<button type="button" onclick="location.href='#';">상세</button>
								</td>

								<td rowspan="1">3000원</td>
								<td>1000원</td>
								<td>15000원</td>
							</tr>


						</tbody>
					</table>
				</div>
				<div class="destination-wrap">
					<div class="deliver-option-wrap">
						<div class="deliver-info">
							<h4>
								<span class="blind">배송지정보</span>
							</h4>
							<strong class="req" title="필수입력">배송지 선택</strong>
							<ul class="radio-inline-list">
								<li class="-baseDeliveryInfo"><input type="radio"
									name="delivery" id="deliveryTypeNew"> <label>기본배송지</label>
								</li>
								<li class="-newDeliveryInfo"><input type="radio"
									name="delivery" id="deliveryTypeNew"> <label>신규배송지</label>
								</li>

							</ul>
							<ul class="addr-list" style="display: block;">
								<li>이현우 <em>(중화산동2가 232 새한그린파크 1605호)</em></li>
								<li>010-2498-0735
									<div class="safe-number">
										<input type="checkbox" id="reliefPhoneNumber-1"
											class="-click(nmp.front.order.order-sheet.checkFirstNumber(1)) -reliefPhoneNumberCheckbox-1">
										<label for="reliefPhoneNumber-1">안심번호 서비스 사용</label>
									</div>
								</li>
								<li>(54984) 전라북도 전주시 완산구 영경1길 22 (중화산동2가, 새한그린파크아파트) 1605호
									<button
										class="btn -click(nmp.front.order.order-sheet.editDeliveryInfo()) -stopDefault">정보수정</button>

								</li>
							</ul>
							<div class="-deliveryMemoOuter">
								<strong class="-deliveryMemoHeader" style="display: none;">배송메모</strong>
								<div class="-deliveryMemoInner">

									<div class="comments deliveryMemo">

										<div class="dropdown-wrap">
											<input type="text" placeholder="요청사항을 직접 입력합니다"
												title="배송 메세지" name="deliveryMemo"
												class="deli-msg placeholder -deliveryForm deliverySingleMemo -click(nmp.front.order.order-sheet.showLatestDeliveryMemo()) -stopDefault">
											<input type="text" placeholder="요청사항을 직접 입력합니다"
												title="배송 메세지" name="deliveryMemos.2022062084358289"
												class="deli-msg placeholder -deliveryForm particularDeliveryMemo deliveryProductMemo -click(nmp.front.order.order-sheet.showLatestDeliveryMemo(2022062084358289)) -stopDefault"
												style="display: none;"> <a href="#" title="배송메세지 선택"
												class="dropdown deliverySingleMemo -click(nmp.front.order.order-sheet.showLatestDeliveryMemo(,deliverySingleMemo)) -stopDefault"><span
												class="dropdown-arr -stopDefault"></span></a> <a href="#"
												title="배송메세지 선택"
												class="dropdown deliveryProductMemo -click(nmp.front.order.order-sheet.showLatestDeliveryMemo(2022062084358289,particularDeliveryMemo)) -stopDefault"
												style="display: none;"><span
												class="dropdown-arr -stopDefault"></span></a>
										</div>
										<span class="length deliverySingleMemo"><em
											class="deliveryMemoRealLength">0</em>/<em
											class="deliveryMemoMaxLength">500</em></span> <span
											class="length deliveryProductMemo" style="display: none;"><em
											class="particularDeliveryMemoRealLength">0</em>/<em
											class="particularDeliveryMemoMaxLength">500</em></span>
									</div>
								</div>
							</div>
							<p class="extra-info">
								<span class="ico-ext"></span>도서산간 지역의 경우 추후 수령 시 추가 배송비가 과금될 수
								있습니다.
							</p>

						</div>
						<div class="deliver-userinfo-wrap">
							<h6>주문자 정보</h6>
							<ul class="user-info">
								<li>이현우</li>
								<li class="-telNoHighlight "><span class="-memberTelNumber">010-2**8-0**5</span>
									<button
										class="btn -click(nmp.front.order.order-sheet.changeMemberCellphone()) -stopDefault">수정</button>
									<!--N=a:ord.modifyphone--></li>
								<li><span class="-memberEmailAddress">vg******@na***com</span>
									<button
										class="btn -click(nmp.front.order.order-sheet.changeMemberEmail()) -stopDefault">수정</button>
									<!--N=a:ord.modifyemail--></li>
							</ul>
							<ul class="info-dsc">
								<li class="info-confirm"><span
									class="-telNoNoti -telNoDuplicated" style="display: none"><strong>휴대폰
											번호를 확인해주세요!</strong><br>현재 등록되어 있는 휴대폰 번호가<br>다른사용자에게도 동일하게
										등록되어<br>있습니다.<br>휴대폰 번호가 잘못 등록되어 있을 경우<br>정확한
										주문/결제 알림을 받지 못할 수<br> 있습니다.</span> <span
									class="-telNoNoti -telNoNeedRegistration" style="display: none"><strong>휴대폰
											번호를 등록해주세요.</strong><br>휴대폰 번호가 등록되지 않으면 정확한<br>주문/결제 알림을 받지
										못할 수 있습니다.</span> <span class="extra-info" style="display: block">주문자
										정보로 결제관련 정보가 제공됩니다.<br>정확한 정보로 등록되어있는지 확인해주세요.
								</span></li>
							</ul>
							<input type="hidden" name="order.memberName" value="이현우">
							<input type="hidden" name="order.memberCellPhoneNo"
								value="010-2**8-0**5">
						</div>
					</div>

				</div>









				<div class="discount-wrap">
					<div class="discount-info">
						<h4>
							<span class="blind">할인 및 포인트</span>
						</h4>

						<div class="area-point-title">
							<strong class="req short">쿠폰 할인</strong>
						</div>
						<ul class="list-discount">
							<li class="item-discount">
								<div class="area-label">
									<strong>주문쿠폰</strong>
								</div>
								<div class="area-item">
									<div class="input-area">
										<input type="text" name="productCouponPrice" id="pro-coupon"
											value="0"
											class="-calculationDiscountTarget -productCouponDiscountAmt"
											title="상품/주문쿠폰금액" disabled="disabled"> <span
											class="measure">원</span>
									</div>
									<button class="btn disable" disabled="disabled">쿠폰사용</button>
									<ul class="use-list">
										<li>(사용가능 : <em>0</em>장
										</li>
										<li>보유 : <em>0</em>장)
										</li>
									</ul>
								</div>
							</li>
							<li class="item-discount">
								<div class="area-label">
									<strong>배송비 쿠폰</strong>
								</div>
								<div class="area-item">
									<div class="input-area">
										<input type="text" name="deliveryCouponPrice" id="de-coupon"
											title="배송비쿠폰금액" value="0"
											class="-calculationDiscountTarget -deliveryCouponDiscountAmt"
											disabled="disabled"> <span class="measure">원</span>
									</div>
									<button class="btn disable -deliveryCouponButton"
										disabled="disabled">쿠폰사용</button>
									<ul class="use-list">
										<li>(사용가능 : <em class="-usableDeliveryCouponCount">0</em>장
										</li>
										<li>보유 : <em class="-totalDeliveryCouponCount">0</em>장)
										</li>
									</ul>
								</div>
							</li>
						</ul>

						<div class="area-point-title">
							<strong class="req short"><span
								class="sp-order ico-npaypoint"></span>포인트</strong>
						</div>

						<ul class="list-discount type-point -naverPointArea">

							<li class="item-discount">
								<div class="area-label point-balance">
									<strong>보유</strong>
									<div class="area-tooltip">
										<a href="#" title="?"
											class="sp-order ico-que -click(nmp.front.order.order-sheet.showNaverCashLayer(naverCashLayer,false,false,left,,commonCashLayer)) -stopDefault"></a>
									</div>
								</div>
								<div class="area-item point-balance">
									<div>
										<div class="input-area">
											<span class="value -pointBalance">8,076</span> <span
												class="measure">원</span>
										</div>
									</div>
								</div>
							</li>

							<li class="item-discount">
								<div class="area-label">
									<strong>사용</strong>
								</div>
								<div class="area-item">
									<div class="input-area">
										<input type="text" id="mileage" title="네이버페이 포인트"
											name="payAmounts.NAVER-CASH" value="0" maxlength="7"
											class="-onlyPriceTarget -calculationDiscountTarget -mileageUseAmount -subPayMeans -blur(nmp.front.order.order-sheet.calculateTotalPriceOnBlurForNaverCash()) -focus(nmp.front.order.order-sheet.checkUseWithPayLater()) -payForm">
										<span class="measure">원</span>
										<button type="button"
											class="btn-delete -clearPoint -click(nmp.front.order.order-sheet.clearPoint()) -stopDefault"
											style="display: none;">
											<span class="blind">사용 포인트 삭제</span>
										</button>
										<!--N=a:ord.clearpoi-->
									</div>
									<button
										class="btn type-npaypoint -pointAllUseButton -click(nmp.front.order.order-sheet.useAllSubSettle()) -stopDefault">전액사용</button>
									<!--N=a:ord.pntall-->
									<div class="checkbox-point-all">
										<span class="checkbox-point" id="usePointAllCheckbox">
											<span class="checkbox-mark"></span> <input type="checkbox"
											id="point-all-checkbox" name="usePointAllCheckbox">
										</span> <label for="checkbox-point-all">항상 보유 포인트 전액사용</label>
									</div>
								</div>
							</li>

							<!-- 제휴포인트 영역 -->
							<li class="item-discount">
								<div class="area-label point-th">
									<strong>제휴포인트</strong>
									<div class="area-tooltip">
										<a href="#" title="?"
											class="sp-order ico-que --btnInfoNaverMlg -click(nmp.front.order.order-sheet.showLayerCommon(naverPayCardPointLayer,false,false,left)) -stopDefault"></a>
										<!--N=a:ord.pntchangeinfo-->
									</div>
								</div>
								<div class="area-item point-td">
									<div class="input-area -cardPointInputArea"
										style="display: block;">
										<input type="text" title="제휴포인트" value="0"
											class="-totalCardPointAmount" name="totalCardPointAmount"
											disabled="disabled"> <span class="measure">원</span>
									</div>
									<div class="check-area">
										<span class="loading -cardPointLoading" style="display: none;"><span
											class="ico-loading"><span class="blind">로딩 중</span></span><span
											class="ico-more"></span></span> <a href="#"
											class="balance-check -cardPointCheck -click(nmp.front.order.order-sheet.showCardPointConversionPopup()) -stopDefault"
											style="display: none;">조회하기</a>
										<!--N=a:ord.pntcheck-->
										<!-- 제휴포인트: 포인트 조회실패 -->
										<a href="#"
											class="lnk-refresh -cardPointFailed -click(nmp.front.order.order-sheet.reloadCardPointArea()) -stopDefault"
											style="display: none;"><span
											class="sp-order ico-refresh -click(nmp.front.order.order-sheet.reloadCardPointArea()) -stopDefault"><span
												class="blind">새로고침</span></span>조회실패<span class="ico-more"></span></a>
									</div>
									<button
										class="btn -convertCardPointBtn -click(nmp.front.order.order-sheet.showCardPointConversionPopup()) -stopDefault">전환</button>
									<!--N=a:ord.pntchange-->
								</div>
							</li>
						</ul>




					</div>
					<div class="price-detail">
						<h4>결제상세</h4>
						<div class="sum">
							<strong class="price-sum-title">주문금액</strong>
							<p class="price-sum-detail">
								<em class="-totalPayPrice">179,000</em>원
							</p>
						</div>
						<ul class="calc-list">
							<li><strong>상품금액</strong>
								<p>
									<em class="-totalOrderPrice">179,000</em>원
								</p></li>

							<li><strong>배송비</strong>
								<p>
									<dummy class="-totalDeliveryFeeSign"></dummy>
									<em class="-totalDeliveryFee">0</em>원
								</p></li>


							<li><strong>쿠폰할인</strong>
								<p>
									<dummy class="-totalDiscountPriceSign"></dummy>
									<em class="-totalDiscountPrice">0</em>원
								</p></li>
						</ul>
						<ul class="total-list">
							<li class="-mileageUsedPaymentAmountArea total-item"
								style="display: list-item;"><strong class="price-sum-title">포인트
									사용</strong>
								<p class="price-sum-detail">
									<em class="-useNaverMileagePrice">179,000</em> 원
								</p></li>
							<li class="-usePayLaterAmountArea" style="display: none;"><strong
								class="price-sum-title">후불결제</strong>
								<p class="price-sum-detail">
									<em class="-usePayLaterAmount">0</em> 원
								</p></li>
							<li class="-generalPaymentAmountArea" style="display: none;">
								<strong class="price-sum-title -generalPaymentClass"></strong>
								<p class="price-sum-detail">
									<em class="-generalPaymentAmount">0</em> 원
								</p>
							</li>
						</ul>
					</div>
					<input type="hidden" class="-totalPayAmount" value="0">

				</div>

				<div class="payment-wrap">
					<div class="payment-info">
						<h4>결제수단</h4>
						<div class="payment-how">
							<div class="paymethod-list" style="display: block;">


								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li class="nav-item" role="presentation"><a
										class="nav-link active" id="pills-home-tab" data-toggle="pill"
										href="#pills-home" role="tab" aria-controls="pills-home"
										aria-selected="true">무통장입금</a></li>
									<li class="nav-item" role="presentation"><a
										class="nav-link" id="pills-profile-tab" data-toggle="pill"
										href="#pills-profile" role="tab" aria-controls="pills-profile"
										aria-selected="false">카드</a></li>
									<li class="nav-item" role="presentation"><a
										class="nav-link" id="pills-contact-tab" data-toggle="pill"
										href="#pills-contact" role="tab" aria-controls="pills-contact"
										aria-selected="false">휴대폰</a></li>
								</ul>


								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home"
										role="tabpanel" aria-labelledby="pills-home-tab">
										
										
										
										<div class="ec-base-table">
											<!-- 무통장입금 -->
											<table border="1"  id="payment-input-cash" style="">
												
												<colgroup>
													<col style="width: 139px">
													<col style="width: auto">
												</colgroup>
												<tbody>
													<tr>
														<th scope="row">입금자명</th>
														<td><input id="pname" name="pname" fw-filter=""
															fw-label="무통장 입금자명" fw-msg="" class="inputTypeText"
															placeholder="" size="15" maxlength="20" value="이현우"
															type="text"></td>
													</tr>
													<tr>
														<th scope="row">입금은행</th>
														<td><select id="bankaccount" name="bankaccount"
															fw-filter="" fw-label="무통장 입금은행" fw-msg="">
																<option value="-1">::: 선택해 주세요. :::</option>
																<option
																	value="bank-03:3333058679301:이현우:카카오뱅크:www.kakaobank.com">카카오뱅크:3333058679301
																	이현우</option>
														</select>
														<p class="gBlank5 "><a href="#none" id="btn-bank-go"><img src="/user/assets/img/btn-bank.gif" alt="은행사이트 바로가기"></a></p></td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>

									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">...</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										aria-labelledby="pills-contact-tab">...</div>
								</div>


							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

</th:block>
</html>