<div class="orderArea">
	
	<div class="ec-base-table typeWrite">
		<table border="1" summary="">
			<caption>배송 정보 입력</caption>
			
			<colgroup>
				<col style="width: 139px;">
				<col style="width: auto;">
			</colgroup>
		
			<tbody class="displaynone ec-shop-deliverySimpleNomemberForm"
				style="display: table-row-group;">
				<tr class="ec-orderform-NoMemberPasswdRow">
					<th scope="row">
						주문조회 비밀번호 <img src="/_sp/image/cafe24/ico_required.gif" alt="필수">
					</th>
				
					<td>
						<span id="order_password_alert" class="txtWarn"></span>
						<span id="order_password_msg"> (영문대소문자/숫자/특수문자 중 2가지 이상 조합, 6자~16자)</span>
					</td>
				</tr>
				<tr class="ec-orderform-NoMemberPasswdRow">
					<th scope="row">
						주문조회 비밀번호<br>확인 <img src="/_sp/image/cafe24/ico_required.gif" alt="필수">
					</th>
					
					<td>
						<span id="order_password_confirm_alert" class="txtWarn"></span>
					</td>
				</tr>
			</tbody>
			<!-- 국내 배송지 정보 -->
			<tbody class="">
				<tr class="">
					<th scope="row">배송지 선택</th>
					<td>
						<div class="address">
							<input id="sameaddr0" name="sameaddr" value="M" type="radio" autocomplete="off">
							<label for="sameaddr0">회원 정보와 동일</label> 
							<input id="sameaddr1" name="sameaddr" value="F" type="radio" autocomplete="off">
							<label for="sameaddr1">새로운 배송지</label> 
							<span class="recent ec-shop-RecentDelivery ">
								 최근 배송지: <input id="recent_delivery_info0" name="recent_delivery_info" value="24081" type="radio" autocomplete="off">
								<label for="recent_delivery_info0">이현우</label>
							</span> 
							<a href="#none" id="btn_shipp_addr" class="">
								<img src="/_sp/image/cafe24/ordered/btn_address.gif" alt="주소록 보기">
							</a>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row">
					받으시는 분 <img src="/_sp/image/cafe24/ico_required.gif" alt="필수">
					</th>
					<td>
						<input id="rname" name="rname" class="inputTypeText" placeholder="" size="15" value="" type="text">
					</td>
				</tr>
				<tr>
					<th scope="row">주소 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수">
					</th>
					<td>
						<input id="rzipcode1" name="rzipcode1" class="inputTypeText" placeholder="" size="6" maxlength="6" readonly="1" value="" type="text">
						
							 <a href="#none" id="btn_search_rzipcode">
							 <img src="/_sp/image/cafe24/ordered/btn_zipcode.gif" alt="우편번호">
							 </a><br>
							 
						<input id="raddr1" name="raddr1" class="inputTypeText" placeholder="" size="40" readonly="1" value="" type="text"> 
							<span class="grid">기본주소</span><br> 
							<input id="raddr2" name="raddr2" class="inputTypeText" placeholder="" size="40" value="" type="text">
							<span class="grid">나머지주소</span>
							<span class="grid displaynone">(선택입력가능)</span>
					</td>
				</tr>
				<tr class="displaynone">
					<th scope="row">일반전화 <span class="displaynone"><img
							src="/_sp/image/cafe24/ico_required.gif" alt="필수"></span>
					</th>
					<td></td>
				</tr>
				<tr class="">
					<th scope="row">휴대전화 <span class=""><img
							src="/_sp/image/cafe24/ico_required.gif" alt="필수"></span>
					</th>
					<td>
						<select id="rphone2_1" name="rphone2_[]"
							fw-filter="isNumber&amp;isFill" fw-label="수취자 핸드폰번호" fw-alone="N"
							fw-msg="">
								<option value="010">010</option>
								<option value="011">011</option>
								<option value="016">016</option>
								<option value="017">017</option>
								<option value="018">018</option>
								<option value="019">019</option>
						</select>
						-<input id="rphone2_2" name="rphone2_[]" maxlength="4">
						-<input id="rphone2_3" name="rphone2_[]" maxlength="4" size="4" value="" type="text">
					</td>
				</tr>
				<tr class="displaynone">
					<th scope="row">안심번호</th>
					<td>
						<p>- 안심번호 서비스는 개인정보 보호를 위하여 휴대폰번호 등 실제 연락처 대신에 1회성 임시 번호를 제공하는
							서비스입니다.</p>
					</td>
				</tr>
			</tbody>
			<!-- 해외 배송지 정보 -->
			<tbody class="displaynone">
				<tr class="">
					<th scope="row">배송지 선택</th>
					<td>
						<p class="address">
							<a href="#none" id="btn_address_oversea" class=""><img
								src="/_sp/image/cafe24/ordered/btn_address.gif" alt="주소록 보기"></a>
						</p>
					</td>
				</tr>
				<tr>
					<th scope="row">받으시는 분 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수"></th>
					<td><span class="grid">받는분의 이름은 영문으로 작성해 주세요.</span></td>
				</tr>
				<tr class="displaynone">
					<th scope="row">영문이름</th>
					<td></td>
				</tr>
				<tr class="displaynone">
					<th scope="row">이름(발음기호)</th>
					<td></td>
				</tr>
				<tr>
					<th scope="row">국가 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수"></th>
					<td></td>
				</tr>
				<tr>
					<th scope="row">우편번호</th>
					<td><a href="#none" id="btn_search_fzipcode" class=""><img
							src="/_sp/image/cafe24/ordered/btn_address_search.gif" alt="주소검색"></a>
					</td>
				</tr>
				<tr>
					<th scope="row">주소1 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수"></th>
					<td></td>
				</tr>
				<tr>
					<th scope="row">주소2</th>
					<td></td>
				</tr>
				<tr>
					<th scope="row">도시 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수"></th>
					<td></td>
				</tr>
				<tr>
					<th scope="row">주/지방 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수"></th>
					<td></td>
				</tr>
				<tr class="displaynone">
					<th scope="row">일반전화 <span class="displaynone"><img
							src="/_sp/image/cafe24/ico_required.gif" alt="필수"></span>
					</th>
					<td>
						<p class="gBlank5">'-' 없이 숫자만 입력해 주세요.</p>
					</td>
				</tr>
				<tr class="">
					<th scope="row">휴대전화 <span class=""><img
							src="/_sp/image/cafe24/ico_required.gif" alt="필수"></span>
					</th>
					<td>
						<p class="gBlank5">'-' 없이 숫자만 입력해 주세요.</p>
					</td>
				</tr>
				<tr id="ec-shop-receiver_id_card_key" class="displaynone">
					<th scope="row">신분증 유형 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수"></th>
					<td>
						<p id="ec-shop-receiver_id_card_type_msg" class="gBlank5"></p>
					</td>
				</tr>
			</tbody>
			<!-- 이메일 국내/해외 -->
			<tbody class="email ec-orderform-emailRow ec-shop-deliverySimpleForm">
				<tr>
					<th scope="row">이메일 <img
						src="/_sp/image/cafe24/ico_required.gif" alt="필수"></th>
					<td><input id="oemail1" name="oemail1">@<input id="oemail2" name="oemail2" class="mailAddress" readonly="readonly" value="" type="text">
					<select id="oemail3">
							<option value="" selected="selected">- 이메일 선택 -</option>
							<option value="naver.com">naver.com</option>
							<option value="daum.net">daum.net</option>
							<option value="nate.com">nate.com</option>
							<option value="hotmail.com">hotmail.com</option>
							<option value="yahoo.com">yahoo.com</option>
							<option value="empas.com">empas.com</option>
							<option value="korea.com">korea.com</option>
							<option value="dreamwiz.com">dreamwiz.com</option>
							<option value="gmail.com">gmail.com</option>
							<option value="etc">직접입력</option>
					</select>
					
						<p class="gBlank5">
							이메일을 통해 주문처리과정을 보내드립니다.<br>이메일 주소란에는 반드시 수신가능한 이메일주소를 입력해
							주세요.
						</p></td>
				</tr>
			</tbody>
			
			
		</table>
	</div>
</div>