<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/userDefault}">
<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
<th:block th:each="l : ${laundryGoodsNameAndPrice}">
<th:block th:each="ls : ${l.ilbanGoodsPrice}">

<style>
.pay-btn{
	width: 198px; 
	height: 56px;
	border: 0; 
	background-color: #F28123; 
	font-size: 18px; 
	font-weight: bold; 
	color: #fff; 
	cursor: pointer; 
	margin: 0 6px;
}
.pay-btn:hover{
	background-color: #f29f23; 
}
.non-action{
	display: none;
}
</style>
	
	
	
	<div class="payContainer" style="background-color: #FCFCFC;">
		<div id="payOrder">
			<div id="payH3">
				<div class="payOrder-header">
					<h3>주문/결제</h3>
				</div>
			</div>

			<form id="payForm" name="payForm" method="post" th:action="@{/user/paymentComplete}">
	<input name="laundryCode" type="hidden" th:value="${l.laundryCode}">
	<input name="memberId" type="hidden" th:value="${sessionId}">
	<input name="goodsName" type="hidden" th:value="${ls.goodsName}">
	<input name="totalPrice" type="hidden" th:value="${sumFinal}">
	<input name="skillCate" type="hidden" th:value="${goodsOption}">
	<input name="laundryName" type="hidden" th:value="${l.laundryName}">
	<input name="request" type="hidden" th:value="${request}">
	<!-- <input name="billCode" type="hidden" th:value="${request}"> -->
	<input name="addPoint" class="add-point2" type="hidden">
				<div class="product-area">
					
					
 
					<table class="tb-products">
						<colgroup>
							<col width="160">
							<col width="160">
							<col width="160">
							<col width="160">
							<col width="160">
							<col width="160">
							<col>
						</colgroup>
						<thead class="point-plus">
							<tr style="background-color: #e9e9e9;">
								<th scope="col" class="product">주문정보</th>
								<th scope="col">세탁소</th>
								<th scope="col">세탁물</th>
								<th scope="col">세탁기능</th>
								<th scope="col">배송비</th>
								<th scope="col" class="bg-point">할인</th>
								<th scope="col" class="col-price">세탁비용(할인, 배달료 포함)</th>
							</tr>
						</thead>
						<tbody>
							
								<tr>
									<td><img th:src=@{/user/assets/img/lovetruck.png}></td>
									<td rowspan="1" th:text="${l.laundryName}">세탁소명</td>
									<td th:text="${ls.goodsName}"></td>
									<td th:text="${goodsOption}"></td>
									<td rowspan="1">3,000원</td>
									<td>1,000원</td>
									<td th:text="${#numbers.formatInteger(sumFinal,3,'COMMA')+'원'}">가격</td>
								</tr>
							
						</tbody>
					</table>
				</div>
				<div class="destination-wrap">
					<div class="deliver-info">
						<h4>
							<span class="blind">배송지정보</span>
						</h4>


						<strong class="req" title="필수입력">배송지 선택</strong>
						<ul class="radio-inline-list">
							<li class="-baseDeliveryInfo"><input type="radio"
								name="delivery" id="deliveryTypeOrig" onclick='searchAddr()'
								checked> <label>기본배송지</label></li>
							<li class="-newDeliveryInfo"><input type="radio"
								name="delivery" onclick='searchAddr()' id="deliveryTypeNew">
								<label>신규배송지</label></li>

						</ul>

						<script type="text/javascript">
							function searchAddr() {

								var delori = document
										.getElementById('deliveryTypeOrig');
								var delnew = document
										.getElementById('deliveryTypeNew');

								if (delori.checked == true) {
									document.getElementById('addr-list-byDB').className = ' ';
									document.getElementById('addr-list-search').className = 'addr-list';
								} else {
									document.getElementById('addr-list-search').className = ' ';
									document.getElementById('addr-list-byDB').className = 'addr-list';
								}
							}
						</script>
						<ul class=" " id="addr-list-byDB">
							<li>[[${sessionName}]] <em>[[${mAddr}]]</em></li>
							<li>[[${mPhone}]]
								<div class="safe-number">
									<input type="checkbox" id="reliefPhoneNumber-1"
										class="-click(nmp.front.order.order-sheet.checkFirstNumber(1)) -reliefPhoneNumberCheckbox-1">
									<label for="reliefPhoneNumber-1">안심번호 서비스 사용</label>
								</div>
							</li>
							<li>[[${mAddr}]]
								<button type="button" id="infoUpdateBtn"
									onclick="searchAddrBtn()">정보수정</button>

							</li>
						</ul>

						<div class="addr-list" id="addr-list-search">
							<ul id="addr-list-byDB2">
								<li>[[${sessionName}]]</li>
								<li>[[${mPhone}]]
									<div class="safe-number">
										<input type="checkbox"
											class="-click(nmp.front.order.order-sheet.checkFirstNumber(1)) -reliefPhoneNumberCheckbox-1">
										<label for="reliefPhoneNumber-1">안심번호 서비스 사용</label>
									</div>
								</li>
							</ul>
							<input type="text" id="sample4_postcode" placeholder="우편번호">
							<input type="button" onclick="sample4_execDaumPostcode()"
								value="우편번호 찾기"><br> <input type="text"
								id="sample4_roadAddress" placeholder="도로명주소"
								style="display: none;"> <input type="text"
								id="sample4_jibunAddress" placeholder="지번주소"
								style="width: 230px;"> <span id="guide"
								style="color: #999; display: none"></span> <input type="text"
								id="sample4_detailAddress" placeholder="상세주소"
								style="width: 230px;"> <input type="text"
								id="sample4_extraAddress" placeholder="참고항목"
								style="display: none;">
						</div>

						<div class="-deliveryMemoOuter">
							<strong class="-deliveryMemoHeader" style="display: none;">배송메모</strong>
							<div class="-deliveryMemoInner">

								<div class="comments deliveryMemo">

									<div class="dropdown-wrap">
										<input type="text" placeholder="요청사항을 직접 입력합니다" title="배송 메세지" name="request" 
											class="deli-msg placeholder -deliveryForm deliverySingleMemo -click(nmp.front.order.order-sheet.showLatestDeliveryMemo()) -stopDefault">
									</div>
									<span class="length deliverySingleMemo"><em
										class="deliveryMemoRealLength">0</em>/<em
										class="deliveryMemoMaxLength">500</em></span> <span
										class="length deliveryProductMemo" style="display: none;"><em
										class="particularDeliveryMemoRealLength">0</em>/<em
										class="particularDeliveryMemoMaxLength">500</em></span>
								</div>
							</div>
						</div>
						<p class="extra-info">
							<span class="ico-ext"></span>도서산간 지역의 경우 추후 수령 시 추가 배송비가 과금될 수
							있습니다.
						</p>

					</div>



					<div class="deliver-userinfo-wrap">
						<h6>주문자 정보</h6>
						<ul class="user-info">
							<li>[[${sessionName}]]</li>
							<li class="-telNoHighlight "><span class="-memberTelNumber">[[${mPhone}]]</span>
								<button type="button">수정</button></li>
							<li><span class="-memberEmailAddress">[[${mEmail}]]</span>
								<button type="button">수정</button></li>
						</ul>
						<ul class="info-dsc">
							<li class="info-confirm"><span
								class="-telNoNoti -telNoDuplicated" style="display: none"><strong>휴대폰
										번호를 확인해주세요!</strong><br>현재 등록되어 있는 휴대폰 번호가<br>다른사용자에게도 동일하게
									등록되어<br>있습니다.<br>휴대폰 번호가 잘못 등록되어 있을 경우<br>정확한
									주문/결제 알림을 받지 못할 수<br> 있습니다.</span> <span
								class="-telNoNoti -telNoNeedRegistration" style="display: none"><strong>휴대폰
										번호를 등록해주세요.</strong><br>휴대폰 번호가 등록되지 않으면 정확한<br>주문/결제 알림을 받지
									못할 수 있습니다.</span> <span class="extra-info" style="display: block">주문자
									정보로 결제관련 정보가 제공됩니다.<br>정확한 정보로 등록되어있는지 확인해주세요.
							</span></li>
						</ul>
						<input type="hidden" name="order.memberName" value="[[${sessionName}]]">
						<input type="hidden" name="order.memberCellPhoneNo"
							th:value="${mPhone}">
					</div>

					<div class="payment-banner"
						style="float: right; margin-right: 80px; margin-top: 20px;">
						<img id="ftalt6419362" th:src=@{/user/assets/img/payment-ban.png}
							style="width: 220px; height: 520px;">

					</div>




				</div>

				<div class="discount-wrap">
					<div class="discount-info">
						<div class="discount-inline-modal">

							<h4 style="float: left; width: 400px;">
								<span class="blind">할인 및 포인트</span>
							</h4>

							<!-- 모달시작 -->
							<!-- Large modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal"
								data-target=".bs-example-modal-lg"
								style="float: right; margin-right: 40px;">포인트 부여 기준</button>

							<div class="modal fade bs-example-modal-lg" tabindex="-1"
								role="dialog" aria-labelledby="myLargeModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="payment-point-wrap">
											<div class="payment-point-info">
												<h5 style="padding-bottom: 20px;">포인트혜택 안내</h5>
												<div class="fold_inner">
													<table class="tb-point-view">
														<thead>
															<tr>
																<th>포인트 등급</th>
																<th>결제 시 지급되는 포인트</th>
																<th>등급 기준</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>welcome</td>
																<td>결제금액의 1%</td>
																<td>0 ~ 29999 원</td>
															</tr>
															<tr>
																<td>silver</td>
																<td>결제금액의 3%</td>
																<td>30000 원 ~ 99999 원</td>
															</tr>
															<tr>
																<td>gold</td>
																<td>결제금액의 5%</td>
																<td>100000 원 ~ 199999 원</td>
															</tr>
															<tr>
																<td>vip</td>
																<td>결제금액의 7%</td>
																<td>200000 원 ~ 299999 원</td>
															</tr>
															<tr>
																<td>vvip</td>
																<td>결제금액의 9%</td>
																<td>300000원 ~</td>
															</tr>
														</tbody>
													</table>

												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- 모달끝 -->
						</div>
						<div class="area-point-title">
							<strong class="req"><span class="sp-order ico-npaypoint"></span>포인트</strong>
						</div>

						<ul class="list-discount type-point -naverPointArea">

							<li class="item-discount">
								<div class="area-label point-balance">
									<strong>보유</strong>
									<div class="area-tooltip">
										<a href="#" title="?"
											class="sp-order ico-que -click(nmp.front.order.order-sheet.showNaverCashLayer(naverCashLayer,false,false,left,,commonCashLayer)) -stopDefault"></a>
									</div>
								</div>
								<div class="area-item point-balance">
									<div>
										<div class="input-area" style="width: 145px;">
											<span class="value -pointBalance">0</span> <span
												class="measure">원</span>
										</div>
									</div>
								</div>
							</li>
							<li class="item-discount">
								<div class="area-label">
									<strong>사용</strong>
								</div>
								<div class="area-item">
									<div class="input-area" style="width: 145px;">
										<input type="text" id="mileage" name="payAmounts.NAVER-CASH"
											value="0" maxlength="7"
											class="-onlyPriceTarget -calculationDiscountTarget -mileageUseAmount -subPayMeans -blur(nmp.front.order.order-sheet.calculateTotalPriceOnBlurForNaverCash()) -focus(nmp.front.order.order-sheet.checkUseWithPayLater()) -payForm">
										<span class="measure">원</span>
										<button type="button"
											class="btn-delete -clearPoint -click(nmp.front.order.order-sheet.clearPoint()) -stopDefault"
											style="display: none;">
											<span class="blind">사용 포인트 삭제</span>
										</button>
										<!--N=a:ord.clearpoi-->
									</div>
									<button class="btn type-npaypoint" style="margin-left: 10px;">
										<a href="#">전액사용</a>
									</button>
									<div class="checkbox-point-all">
										<span class="checkbox-point" id="usePointAllCheckbox">
											<span class="checkbox-mark"></span> <input type="checkbox"
											id="point-all-checkbox" name="usePointAllCheckbox">
										</span> <label for="checkbox-point-all">항상 보유 포인트 전액사용</label>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="payment-wrap">
					<div class="payment-info">
						<h5>결제수단</h5>
						<div class="payment-how">
							<div class="paymethod-list" style="display: block;">
								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
									<li class="nav-item" role="presentation">
									<a class="nav-link active" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" id="gyejwaTab">계좌이체</a></li>
									
									<li class="nav-item" role="presentation">
									<a class="nav-link" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false" id="kakaoTab">카카오페이</a></li>
									
									<li class="nav-item" role="presentation">
									<a class="nav-link" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false" id="cardTab">카드결제</a></li>
								</ul>


								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-home"
										role="tabpanel" aria-labelledby="pills-home-tab">



										<div class="ec-base-table">
											<!-- 계좌이체 -->
											<table border="1" id="payment-input-cash" style="">

												<colgroup>
													<col style="width: 139px">
													<col style="width: auto">
												</colgroup>
												<tbody>
													<tr>
														<th scope="row">계좌주 성함</th>
														<td><input id="pname" name="pname" class="inputTypeText"
															placeholder="" size="15" maxlength="20" th:value="${jjname.memberName}"
															type="text" readonly="readonly"></td>
													</tr>
													<tr>
														<th scope="row">입금 하실 은행</th>
														<td><select id="bankaccount" name="bankaccount">
																<option value="-1">::: 선택해 주세요. :::</option>
																<option th:value="${jjname.memberPhone}"><em th:text="${jjname.memberPhone}"></em></option>
														</select>
															<p class="gBlank5 ">
																<a href="#none" id="btn-bank-go"><img
																	src="/user/assets/img/btn-bank.gif" alt="은행사이트 바로가기"></a>
															</p></td>
													</tr>
												</tbody>
											</table>

										</div>
									</div>

									<div class="tab-pane fade" id="pills-profile" role="tabpanel"
										aria-labelledby="pills-profile-tab">*결제버튼 클릭 시 카카오페이 결제가 이루어집니다.</div>
									<div class="tab-pane fade" id="pills-contact" role="tabpanel"
										aria-labelledby="pills-contact-tab">*결제버튼 클릭 시 카카오페이 카드 결제가 이루어집니다.</div>
								</div>


							</div>
						</div>
					</div>
					<div class="price-detail">
						<span style="font-size: 13px; float: right;">[[${sessionName}]] 님의 등급 : <em th:text="${memberlevel.levelName}"></em> </span>
						<h5>결제상세</h5>
						<div class="sum">
							<strong class="price-sum-title">주문금액</strong>
							<p class="price-sum-detail">
								<em class="-totalPayPrice" th:text="${#numbers.formatInteger(sumFinal,3,'COMMA')+'원'}"></em>
							</p>
						</div>
						<ul class="calc-list">
							<li><strong>배송비</strong>
								<p>
									<dummy class="-totalDeliveryFeeSign"></dummy>
									<em class="-totalDeliveryFee">3,000</em>원

								</p></li>


							<li><strong>포인트사용</strong>
								<p>
									<dummy class="-totalDiscountPriceSign"></dummy>
									<em class="-totalDiscountPrice">0</em>원
								</p></li>
							<li><strong>보너스포인트</strong>
								<p style="font-size: 12px; margin-top: 3px;">결제금액의 5%</p></li>
						</ul>
						<ul class="total-list">
							<li class="-mileageUsedPaymentAmountArea total-item"
								style="display: list-item;"><strong class="price-sum-title"
								id="price-yejung">결제 예정 금액 </strong>
								<p class="price-sum-detail">
									<em class="-useNaverMileagePrice add-price" th:text="${#numbers.formatInteger(ls.goodsPrice,3,'COMMA')+'원'}"></em>
								</p></li>
						</ul>


						<ul class="total-list">
							<li class="-mileageUsedPaymentAmountArea total-item"
								style="display: list-item;"><strong class="price-sum-title"
								id="price-yejung">적립 예정 포인트 </strong>
								<p class="price-sum-detail">
									
									<em class="-useNaverMileagePrice add-point">0</em>원
								</p></li>
						</ul>

					</div>
				</div>
				<div class="agree-wrap">
					<div class="agree-section">
						<div class="agreement">
							개인정보 제공 동의 : <em class="store"> 4team </em>
							<div class="area-detail">
								<button type="button"
									class="button-detail -click(nmp.front.order.order-sheet.showLayerCommon(commonOrderAgreeLayer,false,false,left)) -stopDefault">상세보기</button>
							</div>
						</div>
						<div class="agreement" style="display: none;">
							쇼핑몰 구매약관 동의
							<div class="area-detail">
								<button type="button"
									class="button-detail -click(nmp.front.order.order-sheet.openMallProvision(true)) -stopDefault">상세보기</button>
							</div>
							<div class="sp-order agree-sub" style="display: none;">
								<div class="s-checkbox">
									<span
										class="checkbox checkbox-applied -click(nmp.front.order.order-sheet.checkAllAgreed())"
										id="mallProvisionAgree"> <span class="checkbox-mark"></span>
										<input type="checkbox" name="isAgreeMallContract"
										id="mall-provision-agree" class="-certificationForm -agreeBtn"
										checked="">
									</span> <label for="mall-provision-agree">쇼핑몰 구매 약관 동의 <a
										href="#"
										class="btn-bu -click(nmp.front.order.order-sheet.openMallProvision(true)) -stopDefault"
										title="쇼핑몰 구매약관">상세보기<span class="ico-more2"></span></a></label>
								</div>
							</div>
						</div>
					</div>
					<div class="area-notice">
						<p class="notice">주문 내용을 확인하였으며, 정보 제공 등에 동의합니다.</p>
					</div>
				</div>
				<div class="payment-agree-wrap">


					<button type="submit" class="pay-btn" id="lastPayBtn">결제하기</button>
					<!-- 버튼 하나 속성 변경하는 방식 사용.
					<button type="button" class="non-action" id="kakaoBtn" onclick="kakaopay()">결제하기</button>
					<button type="button" class="non-action" id="cardBtn" onclick="kcp()">결제하기</button>
					-->
						
					<div class="shdw-bottom"></div>
				</div>
			</form>
		</div>
	</div>
	
	
	<!-- 결제 api  -->
	
	<!-- jQuery -->
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
	<!-- 아래 제이쿼리는 1.0이상이면 원하는 버전을 사용하셔도 무방합니다. -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
	
	  <script>
	  		
	  /* 결제 수단별로 결제버튼 속성 달라짐 */
	  
		  $(document).ready(function () {
			  $('#gyejwaTab').on("click", function () {
			    $('#lastPayBtn').attr('type','submit');
			    $('#lastPayBtn').attr('onclick','null');
			    //alert($(this).text());
			  });
			});
	  
		  $(document).ready(function () {
			  $('#kakaoTab').on("click", function () {
			    $('#lastPayBtn').attr('type','button');
			    $('#lastPayBtn').attr('onclick','kakaopay()');
			    //alert($(this).text());
			  });
			});
		  
		  $(document).ready(function () {
			  $('#cardTab').on("click", function () {
			    $('#lastPayBtn').attr('type','button');
			    $('#lastPayBtn').attr('onclick','kcp()');
			    //alert($(this).text());
			  });
			});
		  
		  
		  /* 버튼 3개 두고 클래스명 변경하는 방법도 있음
		  $(document).ready(function () {
			  $('#kakaoTab').on("click", function () {
			    $('#kakaoBtn').attr('class','pay-btn');
			    alert($(this).text());
			  });
			});
		  $(document).ready(function () {
			  $('#cardTab').on("click", function () {
			    $('#cardBtn').attr('class','pay-btn');
			    alert($(this).text());
			  });
			});
		  */
		  
		  /* 결제창 api js 시작 */
		  function kcp(){
				//가맹점 식별코드
				IMP.init('imp11645147');
				IMP.request_pay({
				    pg : 'kcp',
				    pay_method : 'card',
				    merchant_uid : 'merchant_' + new Date().getTime(),
				    name : '상품1' , //결제창에서 보여질 이름
				    amount : 100, //실제 결제되는 가격
				    buyer_email : 'iamport@siot.do',
				    buyer_name : '구매자이름',
				    buyer_tel : '010-1234-5678',
				    buyer_addr : '서울 강남구 도곡동',
				    buyer_postcode : '123-456'
				}, function(rsp) {
					console.log(rsp);
				    if ( rsp.success ) {
				    	var msg = '결제가 완료되었습니다.';
				        msg += '고유ID : ' + rsp.imp_uid;
				        msg += '상점 거래ID : ' + rsp.merchant_uid;
				        msg += '결제 금액 : ' + rsp.paid_amount;
				        msg += '카드 승인번호 : ' + rsp.apply_num;
				    } else {
				    	 var msg = '결제에 실패하였습니다.';
				         msg += '에러내용 : ' + rsp.error_msg;
				    }
				    alert(msg);
				});
			}
		  
		  function kakaopay(){
				//가맹점 식별코드
				IMP.init('imp11645147');
				IMP.request_pay({
				    pg : 'kakaopay',
				    pay_method : 'card',
				    merchant_uid : 'merchant_' + new Date().getTime(),
				    name : '상품1' , //결제창에서 보여질 이름
				    amount : 100, //실제 결제되는 가격
				    buyer_email : 'iamport@siot.do',
				    buyer_name : '구매자이름',
				    buyer_tel : '010-1234-5678',
				    buyer_addr : '서울 강남구 도곡동',
				    buyer_postcode : '123-456'
				}, function(rsp) {
					console.log(rsp);
				    if ( rsp.success ) {
				    	var msg = '결제가 완료되었습니다.';
				        msg += '고유ID : ' + rsp.imp_uid;
				        msg += '상점 거래ID : ' + rsp.merchant_uid;
				        msg += '결제 금액 : ' + rsp.paid_amount;
				        msg += '카드 승인번호 : ' + rsp.apply_num;
				    } else {
				    	 var msg = '결제에 실패하였습니다.';
				         msg += '에러내용 : ' + rsp.error_msg;
				    }
				    alert(msg);
				});
			}
		  /* 결제창 api js 끝 */
	  </script>
</th:block>

</th:block>

	<script
		src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script>
		var addPrice = document.querySelector('.add-price');
		var addPoint = document.querySelector('.add-point');
		var addPoint2 = document.querySelector('.add-point2');
		
		var mm = addPrice.innerText.split('원', 1);
	 	var number = Number(mm[0].replace(",", ""));
		
	 	addPoint.innerText = number/50;
	 	addPoint2.value = number/50;
	 	
	 	
		//본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
		function sample4_execDaumPostcode() {
			new daum.Postcode(
					{
						oncomplete : function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

							// 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var roadAddr = data.roadAddress; // 도로명 주소 변수
							var extraRoadAddr = ''; // 참고 항목 변수

							// 법정동명이 있을 경우 추가한다. (법정리는 제외)
							// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
							if (data.bname !== ''
									&& /[동|로|가]$/g.test(data.bname)) {
								extraRoadAddr += data.bname;
							}
							// 건물명이 있고, 공동주택일 경우 추가한다.
							if (data.buildingName !== ''
									&& data.apartment === 'Y') {
								extraRoadAddr += (extraRoadAddr !== '' ? ', '
										+ data.buildingName : data.buildingName);
							}
							// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
							if (extraRoadAddr !== '') {
								extraRoadAddr = ' (' + extraRoadAddr + ')';
							}

							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							document.getElementById('sample4_postcode').value = data.zonecode;
							document.getElementById("sample4_roadAddress").value = roadAddr;
							document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

							// 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
							if (roadAddr !== '') {
								document.getElementById("sample4_extraAddress").value = extraRoadAddr;
							} else {
								document.getElementById("sample4_extraAddress").value = '';
							}

							var guideTextBox = document.getElementById("guide");
							// 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
							if (data.autoRoadAddress) {
								var expRoadAddr = data.autoRoadAddress
										+ extraRoadAddr;
								guideTextBox.innerHTML = '(예상 도로명 주소 : '
										+ expRoadAddr + ')';
								guideTextBox.style.display = 'block';

							} else if (data.autoJibunAddress) {
								var expJibunAddr = data.autoJibunAddress;
								guideTextBox.innerHTML = '(예상 지번 주소 : '
										+ expJibunAddr + ')';
								guideTextBox.style.display = 'block';
							} else {
								guideTextBox.innerHTML = '';
								guideTextBox.style.display = 'none';
							}
						}
					}).open();
		}
		
		
	</script>
</th:block>

</html>