<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

		<!-- top navigation -->
        <div class="top_nav" th:fragment="header">
          <div class="nav_menu">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding: 10px;">
	                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
	                     <img th:src="@{/user/testimonail/승현.png}" alt=""> 
	                   	<span><strong>[[${session.SNAME}]]</strong> 님</span>	                    
	                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"  href="javascript:;"> Profile</a>
                      <a class="dropdown-item"  href="javascript:;">
                        <span class="badge bg-red pull-right">50%</span>
                        <span>Settings</span>
                      </a>
                    <a class="dropdown-item"  th:href="@{user/logout}"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                  </div>
                </li>
                <li >
                	<a th:href="@{/}"><button type="button" class="btn btn-secondary btn-sm">메인페이지</button></a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->





</html>