
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
             <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" th:fragment="sidebar">
              <div class="menu_section">
                <h3>관리자 페이지</h3>
                <ul class="nav side-menu">
                  <li><a th:href="@{/admin}"><span>!관리자 홈(정승현) </span></a> 
                  <li><a><i class="fa fa-edit"></i> !회원(홍휘연) <span class="fa fa-chevron-down"></span></a>
                   <ul class="nav child_menu">
                      <li><a th:href="@{/admin/addMemberAdmin}">관리자 등록</a></li> 
                      <li><a th:href="@{/admin/adminMemberList}">전체 회원관리</a></li>                    
                      <li><a th:href="@{/admin/LaundryList}">세탁소 점주 회원관리</a></li>                    
                      <li><a th:href="@{/admin/userLevel}">회원 등급</a></li>                                      
                      <li><a th:href="@{/admin/adminMemberOut}">탈퇴 회원 관리</a></li>                    
                      <li><a th:href="@{/admin/loginHistory}">회원 접속내역</a></li>
                    </ul>
                  </li>
                     <li><a><i class="fa fa-table"></i> !휴일<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/admin/holiday}">!전체 공휴일(정승현)</a></li>
                      <li><a th:href="@{/admin/lundryHoliday}">!세탁소별 휴일(이용민)</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i> !회계 <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/admin/income}">#전체 매장 월별 매출(이용민)</a></li>
                      <li><a th:href="@{/admin/pickUp}">전체 수거 및 배송 현황(이용민)</a></li>
                      <li><a th:href="@{/admin/retrun}">#전체 매장 월별 환불 횟수</a></li>
                      <li><a th:href="@{/admin/memberPoint}">전체 회원 포인트 사용 내역(최우영)</a></li>                    </ul>
                  </li>
                  <li><a><i class="fa fa-clone"></i>!장비<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                   	  <li><a th:href="@{/admin/machine/machineState}">보유 장비 스팩(이용민)</a></li> 
                      <li><a th:href="@{/admin/machine/machine}">매장별 장비 현황(이용민)</a></li>
                      <li><a th:href="@{/admin/asList}">!장비 고장 신고 목록(안수빈) </a></li>                     
                    </ul>
                  </li>                                    
                </ul>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-bullhorn"></i>!고객센터(안수빈)<span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a th:href="@{/admin/noticeList}">공지사항 관리</a></li>
                      <li><a th:href="@{/admin/eventList}">이벤트 관리</a></li>
                      <li><a th:href="@{/admin/qnaList}">문의사항 관리</a></li>
                      <li><a th:href="@{/admin/review}">리뷰 관리</a></li>
                    </ul>
                  </li>
                 </ul>
                 <br><br>
                                  
                 <h3>매장 관리</h3>
					<ul class="nav side-menu">
						<li><a><i class="fa fa-desktop"></i>무인 세탁소 관리<span class="fa fa-chevron-down"></span></a>
		                    <ul class="nav child_menu">		                      
		                      <li><a th:href="@{/admin/selectHoliday}">!세탁소 휴일 지정(정승현)</a></li>
		                      <li><a th:href="@{/admin/lundryIncome}">#월별 매출액(이용민)</a></li>	
		                      <li><a th:href="@{/admin/lundryUser}">매장별 회원 목록(이용민)</a></li>
		                      <li><a th:href="@{/admin/asListById}">!장비 고장 신고(안수빈) </a></li>	                      
		                      <li><a th:href="@{/admin/yeyakStatus}">세탁기 예약 현황(최우영)</a></li>		                      
		                    </ul>                  
						</li>
						<li><a><i class="fa fa-desktop"></i>일반 세탁소 관리<span class="fa fa-chevron-down"></span></a>
		                    <ul class="nav child_menu">
		                   	  <li><a th:href="@{/admin/goodsPrice/goodsPrice}">!세탁물 종류 및 가격(이용민)</a></li>
		                      <li><a th:href="@{/admin/selectHoliday}">!세탁소 휴일 지정(정승현)</a></li>		                      
		                      <li><a th:href="@{/admin/lundryReturn}">#환불 신청</a></li>		                      
		                      <li><a th:href="@{/admin/ilbanSales}">일반세탁소 매출(최우영)</a></li>
		                      <li><a th:href="@{/admin/order}">주문 현황(이용민)</a></li>
		                      <li><a th:href="@{/admin/pickUpByStore}">수거 현황(안수빈)</a></li>		                     
		                      <li><a th:href="@{/admin/deliveryByStore}">배송 현황(안수빈)</a></li>		                     
		                      <li><a href="{#}">배송 현황(안수빈)</a></li> 
		                    </ul>                 
						</li>
					</ul> 
              </div>
              </div>
			
		
              
                
                

           
            <!-- /sidebar menu --> 


</html>