<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	  
	  
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
	
	<h4>2022년 전체  공휴일</h4>
	<form th:action="@{/admin/addYearlyHoliday}" method="post">
	<table class="table table-striped jambo_table bulk_action" style="width: 50%; margin: 0 auto; margin-top:80px; border-collapse: separate;">
				<thead>
					<tr class="headings">
						<th class="column-title" colspan="2">전체 공휴일 추가</th>
					</tr>
				</thead>
				<tbody>
					<tr class="even pointer">
						<td>공휴일 날짜</td>
						<td>
							<input type="date" name="yearlyHolidayDate"> 
						</td>
					</tr>
					<tr class="even pointer">
						<td>공휴일명</td>
						<td>
							<input type="text" name="yearlyHolidayName"> 
						</td>
					</tr>
					
					
					<tr class="even pointer">
						<td colspan="2">
							<button type="submit" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal">추가하기</button>
						</td>
					</tr>
				</tbody>
			</table>
	</form>
	
	
	
	
	</th:block>

	</html>