<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">

	
		

	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
 	
 	
		
		<!-- 접수 Modal -->
		<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">접수</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      
		      <form class="asReceipt" th:action="@{/admin/asList}" method="POST">
		      
		      <div class="modal-body">
		      	  
		        <table class="table table col-md-12">
				<tbody>
					<tr th:each="l : ${as.LaundryList}">
						
						<th scope="row">세탁소명</th>
						<td th:text="${l.laundryName}"></td>
						<th scope="row">작성자</th>
						<td th:text="${l.memberId}"></td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						 <td><span th:text="${as.asTitle}"></span></td>
						<th scope="row"></th>
						 <td th:text="${as.asState}" style="display: none;"></td>
					 </tr>
					 <tr>
						 <th scope="row">내용</th>
						 <td colspan="3"><span th:text="${as.asContent}"></span></td>
					</tr>
					</tbody>
				</table>
					<div style="text-align: center">
					<h5>방문 예정일</h5>
					<input type="datetime-local" id="DateLocal" class="goDateTime" min="today" name="visitTime" th:value="${as.visitTime}" onchange="setMinValue()">
					<p style="padding-top: 30px;">
					<textarea name="asmessage" id="asmessage" placeholder="Message" style="width:400px"></textarea>
					</p>
					</div>
		      </div>
		    			  <input type="hidden" name="asCode" th:value="${as.asCode}">
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
		        <a th:href="@{/admin/asList}"><button type="submit" name="submit" value="submit" class="btn btn-primary">접수</button></a>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>
		 	
		 <!-- 완료 Modal -->
		<div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">완료</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      
		      <form class="asEnd" th:action="@{/admin/asList}" method="POST">
		      
		      <div class="modal-body">
		      	  

					<div style="text-align: center">
					<h5 style="margin-bottom: 30px; margin-top: 20px;">수리가 완료되었습니까?</h5>
					<p>'완료' 버튼을 누르면 상태가 변경됩니다.</p>
					<input type="hidden" name="asCode" th:value="${as.asCode}">
					<input type="hidden" name="asState" th:value="${as.asState}">
					<input type="hidden" id ="visitTime" name="visitTime" th:value="${as.visitTime}">
					
					</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
		        <a th:href="@{/admin/asList}"><button type="submit" name="submit" value="submit" class="btn btn-danger">완료</button></a>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>	
		 	
		
		
		 <!-- 삭제 Modal -->
		<div class="modal fade" id="staticBackdrop3" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h5 class="modal-title" id="staticBackdropLabel">정말로 삭제하시겠습니까?</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			          <span aria-hidden="true">&times;</span>
			        </button>
		      </div>		      
				<form class="asDel" th:action="@{/admin/asList}" method="POST">
					<div class="modal-body">
				      <div style="text-align: center">
				      	<h5>비밀번호 확인</h5>
				      	<p>단, 삭제는 '대기' 상태일 때만 가능합니다.</p>
				      	<input type="hidden" id ="asState" name="asState" th:value="${as.asState}">
				      	<input type="password" id ="pwDelCheck" name="pwDelCheck" placeholder="비밀번호를 입력해주세요" required="required">
								<input type="hidden" id ="pwDelCheck2" name="memberPw2" th:value="${member.memberPw}">
						</div>
					<input type="hidden" name="asCode" th:value="${as.asCode}">
					
					</div>
		      
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
		        <a th:href="@{/admin/asList}"><button type="submit" name="submit" value="submit" class="btn btn-danger" onclick="return delCheck()">삭제</button></a>
		      </div>
		      </form>
		    </div>
		  </div>
		</div>	
		 		
		 	
		 	
		 	
		 	
 	<div class="admin-board-list" style="margin-top: 100px;">
 		<h4 style="margin-bottom: 50px;">고장 신고 상세 조회</h4>
		
		
				
			
			<!--상세 글 보기 -->	
		<div class="x_content col-md-9">
		
		<div  style="text-align: right;">
		<a th:href="@{/admin/asModify(asCode=${as.asCode},memberId=${as.memberId},asTitle=${as.asTitle},asContent=${as.asContent},asState=${as.asState})}"><button type="button" class="btn btn-info" onclick="return asModify()" style="margin-bottom: 30px;">수정</button></a>
		<button type="button" class="btn btn-warning" id="as-remove" data-toggle="modal" data-target="#staticBackdrop3" style="margin-bottom: 30px;">
		삭제
		</button>
		</div>
		
		<table class="table table-bordered">
		
		<tbody>
			<tr>
				<th scope="row">처리상태</th>
				<td>
					<th:block th:if="${as.asState != '대기'}">
						<p style="margin-bottom: 0;">
						<span th:text="${as.asState}"></span>
							[방문(예정)일:
							<span th:text="${as.visitTime}+]"></span>
						</p>
					</th:block>
					<th:block th:unless="${as.asState != '대기'}">
						<span th:text="${as.asState}"></span>
					</th:block>
				</td>
				<th scope="row">작성시간</th>
				<td><span th:text="${as.registTime}"></span></td>
				
			</tr>
			<tr th:each="l : ${as.LaundryList}" >
				<th scope="row">세탁소명</th>
				<td th:text="${l.laundryName}"></td>
				<th scope="row">작성자</th>
				<td th:text="${l.memberId}"></td>
			</tr>
			<tr>
				<th scope="row">제목</th>
				 <td><span th:text="${as.asTitle}"></span></td>
				<th scope="row">첨부파일</th>
				 <td th:if="${not #lists.isEmpty(as.boardAttach)}" th:each="b : ${as.boardAttach}">
				 <a href="#"><span th:text="${b.saveFile}"></span></a>
				 </td>
			 </tr>
			 <tr>
				 <th scope="row">내용</th>
				 <td colspan="3">
				 
				 	<!-- 첨부파일 시작 -->

								<th:block th:if="${not #lists.isEmpty(as.boardAttach)}" th:each="b : ${as.boardAttach}">									
									<a class="pt" th:data-img="${b.saveFile}">
										<img th:src="@{'/' + ${#strings.replace(b.filePath,'\','/')}}" alt="이미지를 불러올 수 없습니다." style="width: 700px; margin-bottom: 50px;">
									</a>
								</th:block>
								<th:block th:unless="${not #lists.isEmpty(as.boardAttach)}">
								</th:block>
					<!-- 첨부파일 끝 -->
				 
				 <p th:text="${as.asContent}"></p>
				 </td>
			</tr>
			</tbody>
		</table>
		</div>
			
					
			
			
			<div class="form-group">
				<div class="col-md-8 col-sm-8  offset-md-2" style="margin-left: 0; text-align: center; padding-top: 50px;">
				
				<th:block th:if="${as.asState == '대기'}">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop" style="margin-right: 30px;">
					  접수
					</button>
				</th:block>
				<th:block th:if="${as.asState == '접수'}">
					<button type="button" class="btn btn-danger" id="end-as"  data-toggle="modal" data-target="#staticBackdrop2" style="margin-right: 30px;">
					완료
					</button>
				</th:block>
		
				
			
				<a th:href="@{/admin/asList}"><button type="button" class="btn btn-success" style="margin-right: 30px;">목록</button></a>
			
				</div>
				</div>
		

</div>

<th:block layout:fragment="customJsScript">  
	<script type="text/javascript">
	
	
	
	/*AS방문 오늘이전날짜 비활성화*/
	var now_utc = Date.now()
	var timeOff = new Date().getTimezoneOffset()*60000;
	var today = new Date(now_utc-timeOff).toISOString().substring(0, 16);
	document.getElementById("DateLocal").setAttribute("min", today);
	
	
	
	/*AS방문 오늘날짜로 셋팅*/
	
	let dateElement = document.getElementById('DateLocal');
    let date = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().slice(0, -8);
    dateElement.value = date;
    dateElement.setAttribute("min", date);
    
    function setMinValue() {
        if(dateElement.value < date) {
            alert('현재 시간보다 이전의 날짜는 설정할 수 없습니다.');
            dateElement.value = date;
        }
    }
    
    /*AS 완료 유효성 검사(날짜확인)*/
    var endAs = document.querySelector('#end-as');
  	var visitTime = document.getElementById('visitTime');
    var vis = visitTime.value;
    var bi = vis.substr(0,10);
    
    var now = new Date();
    var year = now.getFullYear();
    var month = now.getMonth();
    month += 1;
    if (month <= 9){
        month = "0" + month;
    }
    
    var day = now.getDate();
    if (day <= 9){
        day = "0" + month;
    }
    var today = year + '-' + month + '-' + day;
    console.log(today);
    
    if(bi<today){
    }else {
    	endAs.addEventListener('click',function(){
    		alert('완료가능한 날짜가 아닙니다.');
    		endAs.removeAttribute('data-toggle');
    	})
    }
    
    
    /*AS 유효성 검사(수정,삭제 - 대기상태일때만 가능)*/
    
    function asModify(){
    
    	var asState = document.getElementById('asState');
    	if(asState.value !== "대기"){
    		alert("수정 가능한 날짜가 아닙니다.");
    		return false;
    	}	return true;   	
    }
    
    var asRemove = document.querySelector('#as-remove');
    var asState = document.getElementById('asState');
    if(asState.value == "대기"){
    }else {
    	asRemove.addEventListener('click',function(){
    		alert('삭제 가능한 날짜가 아닙니다.');
    		asRemove.removeAttribute('data-toggle');
    	})
    }
    
	<!-- 유효성검사(비밀번호확인) -->
		
		function delCheck(){
			 
			var pwDelCheck = document.getElementById("pwDelCheck");
			var pwDelCheck2 = document.getElementById("pwDelCheck2");
			
			if(pwDelCheck.value == ""){
				alert("비밀번호를 입력하세요.")
				pwDelCheck.focus();
				return false;
			}
			else if(pwDelCheck.value !== pwDelCheck2.value){
					alert("비밀번호를 확인하세요.")
					pwDelCheck.focus();
					return false;
					
				} return true;
				 
		}
		
	
	
	
	
</script>
</th:block>
</th:block>

</html>