<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminDefault}">



<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
	<h1>세탁소별 가격</h1>
 	<div class="x_content">
		<div th:include="search/laundrySearch :: searchLaundryFragment"></div><br/>
		
		::::세탁소 휴일 추가::::<input type="button" value="추가" href="{#}"><br/><br/>
		<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
			<thead>
				<tr>
					<th>세탁소 이름</th>
					<th>상품 이름</th>
					<th>상품 가격</th>
					<th>수정</th>	
					<th>삭제</th>	
				</tr>
			</thead>
			<tbody>
				<th:block th:if="${not #lists.isEmpty(ilbangoodsPrice)}" th:each="l : ${ilbangoodsPrice}">
					<tr th:if="${not #lists.isEmpty(l.ilbanGoodsPrice)}" th:each="sl, status : ${l.ilbanGoodsPrice}">
						<td th:text="${l.laundryName}"></td>
						<td th:text="${sl.goodsName}"></td>
						<td th:text="${sl.goodsPrice}"></td>
			

						
						<td>
							<input type="button" value="수정" href="{#}">
						</td>
						<td id="submit" colspan="2">
					    	<input id="tblbutton" type="button" value="삭제" onclick="removeCheck()">
					    </td>
					</tr>

					<tr th:unless="${not #lists.isEmpty(l.ilbanGoodsPrice)}">
						<td colspan="8">등록된 휴일이 없습니다.</td>
					</tr>
					</th:block>		
			</tbody>
		</table>
	</div>



</th:block>

</html>