<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
		<div class="row">
			<div class="col-md-12 col-sm-12  ">
				<div class="x_panel">
					<div class="x_title text-center">
						<h3>Project | 2022.02.21 ~ 2022.08.03</h3>
						<div class="clearfix"></div>
					</div>
					<div class="text-center">
						<img alt="" src="/admin/images/main/4팀프로젝트.PNG">
						<img alt="" src="/admin/images/main/관리자기능.PNG">
					</div>
				</div>
			</div>
		</div>
	</th:block>

</html>