<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/adminDefault}">


<th:block layout:fragment="customContents">

	<div class="x_panel">
		<h2>세탁소별 휴일 목록</h2>
		<div class="x_title"></div>

		<div class="x_content">
			<div th:include="search/laundrySearch :: searchLaundryFragment"></div>
			<br /> <a th:href="@{/admin/addHoliday}"><input type="button"
				class="btn btn-info" value="세탁소 휴일 추가"></a><br /> <br />
			<div style="width: 100%;">
				<table class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>세탁소 이름</th>
							<th>휴일명</th>
							<th>휴일 날짜</th>
							<th>휴일 사용 여부</th>
							<th>수정</th>
							<th>삭제</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${not #lists.isEmpty(eachLaundryHoliday)}"
							th:each="l : ${eachLaundryHoliday}">
							<tr>
								<td th:text="${l.get('laundryName')}"></td>
								<td th:text="${l.get('yearlyHolidayName')}"></td>
								<td th:text="${l.get('yearlyHolidayDate')}"></td>
								<td th:text="${l.get('holidayCodeUse')}"></td>
								<td th:text="${l.get('holidayCode')}" hidden="true"></td>
								<td><a
									th:href="@{/admin/changeHoliday(laundryName=${l.get('laundryName')}, 
											yearlyHolidayName=${l.get('yearlyHolidayName')},yearlyHolidayDate=${l.get('yearlyHolidayDate')},
											holidayCodeUse=${l.get('holidayCodeUse')},holidayCode=${l.get('holidayCode')},laundryCode=${l.get('laundryCode')})}"><button
											type="button"  onclick="Alert()" name="modifyBtn"
											class="btn btn-success btn-sm" data-toggle="modal"
											data-target="#deleteModal">수정</button> </a></td>
								<td><a
									th:href="@{/admin/removeHoliday(laundryName=${l.get('laundryName')}, 
											yearlyHolidayName=${l.get('yearlyHolidayName')},yearlyHolidayDate=${l.get('yearlyHolidayDate')},
											holidayCodeUse=${l.get('holidayCodeUse')},holidayCode=${l.get('holidayCode')},laundryCode=${l.get('laundryCode')})}"><button
											type="button" onclick="Confirm()" name="delBtn"
											class="btn btn-danger btn-sm" data-toggle="modal"
											data-target="#deleteModal">삭제</button> </a></td>
						</th:block>
						<tr th:unless="${not #lists.isEmpty(eachLaundryHoliday)}">
							<td colspan="8">조회된 내용이 없습니다.</td>
						</tr>
					</tbody>
				</table>
			</div>
			<nav id="GPNum">
				<ul class="pagination justify-content-center">
					<li class="page-item"><a class="page-link"
						th:href="@{/admin/lundryHoliday}" tabindex="-1">처음</a></li>
					<th:block
						th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
						<li class="page-item"></li>
						<li><a class="page-link" th:unless="${currentPage eq num}"
							th:href="@{/admin/lundryHoliday(currentPage=${num})}"
							th:text="${(num < 5)? '0'+ num: num}"></a></li>
					</th:block>
					<li class="page-item">
					<li class="page-item"><a class="page-link"
						th:href="@{/admin/lundryHoliday(currentPage=${lastPage})}">마지막</a></li>
				</ul>
			</nav>
		</div>
	</div>
</th:block>

</html>