<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	  
	  
	  
	<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
 	
 	<div class="admin-board-list" style="margin-top: 100px;">
 		<h4 style="margin-bottom: 50px;">공지사항 목록 조회</h4>
 			
 			
 			<div  class="col-lg-9">
 		
			<a th:href="@{/admin/noticeForm}"><button type="button" class="btn btn-secondary" style="margin-bottom: 20px; margin-right: 0px; float: right;">등록하기</button></a>
		<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
			<thead>
				<tr>
					<th style="width: 7%;">번호</th>
					<th style="width: 44%;">제목</th>
					<th style="width: 7%;">첨부</th>
					<th style="width: 15%;">작성자</th>
					<th style="width: 20%;">작성일</th>
					<th style="width: 7%;">조회</th>
				</tr>
			</thead>
				<tr th:if="${not #lists.isEmpty(noticeList)}" th:each="l : ${noticeList}">
					<td th:text="${l.boardIdx}"></td>
					<td><a th:href="@{/admin/noticeDetail(boardMenuCode=${l.boardMenuCode},boardIdx=${l.boardIdx})}" th:text="${l.boardTitle}"></a></td>
					<td th:text="${l.boardAddFile}"></td>
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.registTime}"></td>
					<td th:text="${l.boardReadCount}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(noticeList)}">
					<td colspan="6">조회된 내용이 없습니다.</td>
				</tr>
		</table>
</div>
</div>
</th:block>

</html>