<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
 	
 	<!-- 삭제 Modal 시작 -->
	<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">정말로 삭제하시겠습니까?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
				</div>
				<form class="noticeRemove" th:action="@{/admin/noticeList}"  method="POST">
					<div class="modal-body">
		      	  
				        	 <div style="text-align: center">
								<h5>비밀번호 확인</h5>
								<input type="password" id ="pwDelCheck" name="pwDelCheck" placeholder="비밀번호를 입력해주세요" required="required">
								<input type="hidden" id ="pwDelCheck2" name="memberPw2" th:value="${member.memberPw}">
							</div>
		      			<input type="hidden" name="boardMenuCode" th:value="${board.boardMenuCode}">
		      			<input type="hidden" name="boardIdx" th:value="${board.boardIdx}">
		      		</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>									<!-- delCheck() -->
							<a th:href="@{/admin/noticeList}"><button type="submit" name="submit" value="submit" class="btn btn-primary" onclick="return delCheck()">삭제</button></a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- 삭제 Modal 끝 -->	 	
 	
 	
 	
	<div class="admin-board-list" style="margin-top: 100px;">
 		<h4 style="margin-bottom: 50px;">공지사항 상세 조회</h4>
 		
			<!--상세 글 보기 -->	
				<div class="x_content">
					<table class="table table-bordered col-md-9">		
						<tbody>
							<tr>
								<th scope="row">작성자</th>
								<td><span th:text="${board.memberId}"></span></td>
								<th scope="row">작성시간</th>
								<td><span th:text="${board.registTime}"></span></td>
							</tr>
							<tr>
							<th:block th:if="${not #lists.isEmpty(board.boardAttach)}" th:each="b : ${board.boardAttach}">
								<th scope="row">첨부파일</th>
								<td th:text="${b.saveFile}" style="width: 30%;"></td>
								<th scope="row">조회수</th>
								<td th:text="${board.boardReadCount}"></td>
								</th:block>
							</tr>
							<tr>
								<th scope="row">제목</th>
								<td colspan="3"><span th:text="${board.boardTitle}"></span></td>	
							 </tr>
							 
						<tr>
							<th scope="row" style="height: 300px;">내용</th>
							 <td colspan="3">
							 
					<!-- 첨부파일 시작 -->

								<th:block th:if="${not #lists.isEmpty(board.boardAttach)}" th:each="b : ${board.boardAttach}">									
									<a class="pt" th:data-img="${b.saveFile}">
										<img th:src="@{'/' + ${#strings.replace(b.filePath,'\','/')}}" alt="이미지를 불러올 수 없습니다.">
									</a>
								</th:block>
								<th:block th:unless="${not #lists.isEmpty(board.boardAttach)}">
								</th:block>
					<!-- 첨부파일 끝 -->
					
									<p th:text="${board.boardContent}" style="margin-top: 20px;"></p>
							 </td>
						</tr>
							
							
						</tbody>
					</table>
					
					
				</div>
							
							<input type="hidden" name="boardIdx" th:value="${board.boardIdx}">
							
			
			<!-- 버튼 -->
			<div class="row">
				<div class="col-md-9 col-sm-9  offset-md-2" style="margin-left: 0; float:left; padding-top: 50px;">
					<a th:href="@{/admin/noticeModify(boardIdx=${board.boardIdx},memberId=${board.memberId}, boardTitle=${board.boardTitle}, boardContent=${board.boardContent},
									boardAddFile=${board.boardAddFile}, boardAddFileName=${board.boardAddFileName}, boardAddFileVol=${board.boardAddFileVol})}">
						<button type="button" class="btn btn-primary" style="margin:10px 30px 30px 0;">수정</button>
					</a>
					<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop" style="margin:10px 30px 30px 0;">삭제</button>
					<a th:href="@{/admin/noticeList}">
						<button type="button" class="btn btn-secondary" style="margin: 10px; float: right;">목록보기</button>
					</a>
				</div>
			</div>
							
			

		</div>
		
			<!-- 유효성검사(비밀번호확인) -->
	<th:block layout:fragment="customJsScript">  
		<script type="text/javascript">
		
		function delCheck(){
			 
			var pwDelCheck = document.getElementById("pwDelCheck");
			var pwDelCheck2 = document.getElementById("pwDelCheck2");
			
			if(pwDelCheck.value == ""){
				alert("비밀번호를 입력하세요.")
				pwDelCheck.focus();
				return false;
			}
			else if(pwDelCheck.value !== pwDelCheck2.value){
					alert("비밀번호를 확인하세요.")
					pwDelCheck.focus();
					return false;
					
				} return true;
				 
		}
		
		
		</script>
	</th:block>
	
	
	</th:block>

</html>