<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">  
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
	
	 	<!-- 게시판 타이틀 -->
	 	<div class="admin-board-list" style="margin-top: 100px;">
	 		<h4 style="margin-bottom: 50px;">공지사항 목록 조회</h4>
	 			<div  class="col-lg-9 col-md-12">
		 			<a th:href="@{/admin/noticeForm}"><button type="button" class="btn btn-secondary" style="margin-bottom: 20px; margin-right: 0px; float: right;">등록하기</button></a>
		
			<!-- 공지사항 테이블 -->
			<div class="x_content">
			<div class = "table-responsive">
			<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
				<thead>
					<tr>
						<th style="width: 7%;">번호</th>
						<th style="width: 44%;">제목</th>
						<th style="width: 7%;">첨부</th>
						<th style="width: 15%;">작성자</th>
						<th style="width: 20%;">작성일</th>
						<th style="width: 7%;">조회</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${not #lists.isEmpty(getNoticeList)}" th:each="l : ${getNoticeList}">
						<td th:text="${#numbers.formatInteger(l.get('boardIdx'),0)}"></td>
						<td>
							<a th:href="@{/admin/noticeDetail(boardMenuCode=${l.get('boardMenuCode')}, boardIdx=${l.get('boardIdx')})}" th:text="${l.get('boardTitle')}"></a>
						</td>
						<td th:text="${l.get('boardAddFile')}"></td>
						<td th:text="${l.get('memberId')}"></td>
						<!-- <td th:text="${l.get('registTime')}"></td> -->
						<td th:text="${#temporals.format(l.get('registTime'),'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${l.get('boardReadCount')}"></td>
					</tr>
					<tr th:unless="${not #lists.isEmpty(getNoticeList)}">
						<td colspan="6">조회된 내용이 없습니다.</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<!-- 페이징 -->
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center" style="margin-top: 50px;">
				<li class="page-item">
					<a class="page-link" th:href="@{/admin/noticeList}" tabindex="-1">처음</a>
				</li>
				<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
					<li class="page-item"></li>
					<li><a class="page-link" th:unless="${currentPage eq num}" th:href="@{/admin/noticeList(currentPage=${num})}" th:text="${(num < 5)? '0'+ num: num}"></a></li>
				</th:block>
					<li class="page-item">
					<li class="page-item"><a class="page-link" th:href="@{/admin/noticeList(currentPage=${lastPage})}">마지막</a></li>
			</ul>
		</nav>
	</div>	
		</div>
	</div>
</th:block>
</html>