<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	  
	  
	  
	<!-- 사용자정의 contents -->
	
<th:block layout:fragment="customContents">

   	<h4>매장별 수거 및 배송 현황</h4>
   	<br>
   	<br>
   	<br>
<h2 style="color:#417556;">매장별 수거 현황</h2>

	<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
		<thead>
			<tr>
				<th>세탁소 이름</th>				
				<th>고객 이름</th>
				<th>수거 희망일</th>
				<th>수거 완료일</th>			
			</tr>
		</thead>
		<tbody>
			<tr th:if="${not #lists.isEmpty(getPickUpList)}" th:each="l : ${getPickUpList}">
				<th:block  th:if="${not #lists.isEmpty(l.laundryList)}" th:each="sl : ${l.laundryList}">
					<td  th:text="${sl.laundryName}"></td>
				</th:block>
				
				<th:block  th:if="${not #lists.isEmpty(l.memberList)}" th:each="ssl : ${l.memberList}">
					<td  th:text="${ssl.memberName}"></td>
				</th:block>
				<td th:text="${l.pickupWantDate}"></td>
				<th:block  th:if="${not #lists.isEmpty(l.pickupFinishTime)}">
					<td th:text="${l.pickupFinishTime}"></td>
				</th:block>
				<th:block  th:unless="${not #lists.isEmpty(l.pickupFinishTime)}">
					<td style="color:red">수거 미완료</td>
				</th:block>

			</tr>
			<tr th:unless="${not #lists.isEmpty(getPickUpList)}">
				<td colspan="9">조회된 내용이 없습니다.</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<br>
<h2 style="color:#417556;">매장별 배송 현황</h2>
	<table  id="reportList" class="table table-striped table-bordered"  style="width: 100%;">
		<thead>
			<tr>
				<th>세탁소 이름</th>				
				<th>고객 이름</th>
				<th>배송 예상일</th>
				<th>배송 완료일</th>			
			</tr>
		</thead>
		<tbody>
			<tr th:if="${not #lists.isEmpty(getDeliveryList)}" th:each="l : ${getDeliveryList}">
				<th:block  th:if="${not #lists.isEmpty(l.laundryList)}" th:each="sl : ${l.laundryList}">
					<td  th:text="${sl.laundryName}"></td>
				</th:block>
				
				<th:block  th:if="${not #lists.isEmpty(l.memberList)}" th:each="ssl : ${l.memberList}">
					<td  th:text="${ssl.memberName}"></td>
				</th:block>
				<td th:text="${l.deliveryPlanDate}"></td>
				<th:block  th:if="${not #lists.isEmpty(l.deliveryFinishTime)}">
					<td th:text="${l.deliveryFinishTime}"></td>
				</th:block>
				<th:block  th:unless="${not #lists.isEmpty(l.deliveryFinishTime)}">
					<td>배송 미완료</td>
				</th:block>

			</tr>
			<tr th:unless="${not #lists.isEmpty(getDeliveryList)}">
				<td colspan="9">조회된 내용이 없습니다.</td>
			</tr>
		</tbody>
	</table>

</th:block>	
	


</html>