<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	 
	 	  	
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
 	
 	<div class="admin-board-list" style="margin-top: 100px;">
 		<h4 style="margin-bottom: 50px;">문의사항 상세 조회</h4>
		
		
			
			
			<!--상세 글 보기 -->	
		<div class="x_content">
		<table class="table table col-md-9">
		
		<tbody>
			
					
			<tr>
				 <th scope="row">답변상태</th>
				 <td colspan="4"><span th:text="${board.commentState}"></span></td>
			 </tr>
			 <tr>
			 <th scope="row">제목</th>
				 <td colspan="3"><span th:text="${board.boardTitle}"></span></td>	
			 </tr>
			<tr>
				<th scope="row">작성자</th>
				<td><span th:text="${board.memeberId}"></span></td>
				<th scope="row" style="width:20%;">작성시간</th>
				<td style="width:30%;"><span th:text="${board.registTime}"></span></td>
			</tr>
			<tr>
				<th scope="row">첨부파일</th>
				<td th:text="${board.boardAddFileName}"></td>
				<th scope="row">조회수</th>
				<td th:text="${board.boardReadCount}"></td>
			</tr>
			
			 <tr>
				 <th scope="row">내용</th>
				 <td colspan="3"><span th:text="${board.boardContent}"></span></td>
			</tr>
			</tbody>
		</table>
		</div>
			
			
			
			
			<div class="row">
				<div class="col-md-9 col-sm-9  offset-md-2" style="margin-left: 0; float:left; padding-top: 50px;">
				
				<a href="#"><button type="button" class="btn btn-primary" style="margin:10px 30px 30px 0;">수정</button></a>
				<a href="#"><button type="submit" class="btn btn-success" style="margin: 10px 0 30px 10px;">삭제</button></a>
				<a th:href="@{/admin/qnaComment(boardMenuCode=${board.boardMenuCode},boardIdx=${board.boardIdx})}"><button type="submit" class="btn btn-success" style="margin: 10px 0 30px 10px;">답변하기</button></a>
				<a th:href="@{/admin/qnaList}"><button type="button" class="btn btn-secondary" style="margin: 10px; float: right;">목록보기</button></a>
				</div>
				
				</div>
							
			
	
			
	
		
		


</div>
</th:block>

</html>