<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	 
	 <!-- 사용자정의 CSS -->
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css}">
	</th:block>  
	<!-- 자바스크립트 플러그인 -->
	<th:block layout:fragment="customJsPlugin">
		<script th:src="@{https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js}"></script>
	</th:block>
	<!-- 사용자정의 자바스크립트 -->
	<th:block layout:fragment="customJsScript">
		<script>
		/*setTimeout(function(){datatable.columns.adjust().draw();},200);*/
			$(function(){
				$('.tbqnaList').DataTable({
					language : {'info':'맘대로'}
				});
			});		
		</script>
	</th:block> 
	  
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
 	
 	<div class="admin-board-list" style="margin-top: 100px;">
 		<h4 style="margin-bottom: 50px;">문의사항 목록 조회</h4>
 		
		
			<div class="x_content">
			<ul class="nav nav-tabs bar_tabs" id="myTab" role="tablist">
			<li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#qnaService" role="tab" aria-controls="home" aria-selected="true">서비스 이용</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#qnaPickup" role="tab" aria-controls="profile" aria-selected="false">수거/배송</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#qnaPay" role="tab" aria-controls="contact" aria-selected="false">결제/포인트</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="contact-tab2" data-toggle="tab" href="#qnaComplain" role="tab" aria-controls="contact2" aria-selected="false">서비스 불만족</a>
			</li>
			</ul>
			
			
			<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade active show" id="qnaService" role="tabpanel" aria-labelledby="home-tab">
	<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
			<thead>
				<tr>
					<th>번호</th>
					<th>답변상태</th>	
					<th>비밀글</th>
					<th>제목</th>
					<th>첨부</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(qnaServiceList)}" th:each="l : ${qnaServiceList}">
					<td th:text="${l.boardIdx}"></td>
					<td th:text="${l.commentState}"></td>
					<td>
						<th:block th:if="${l.boardSecret=='Y'}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
							  <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
							</svg>
						</th:block>
						<th:block th:unless="${l.boardSecret=='N'}">
						</th:block>						
					</td>
					<td>
					<th:block th:if="${l.boardOrderNo=='1'}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
						</svg>
					</th:block>
					<th:block th:unless="${l.boardOrderNo=='1'}">
					</th:block>
					<a th:href="@{/admin/qnaDetail(boardMenuCode=${l.boardMenuCode},boardIdx=${l.boardIdx})}" th:text="${l.boardTitle}"></a>
					</td>
					<td>
						<th:block th:if="${l.boardAddFile=='1'}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
									  <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
									</svg>
						</th:block>
						<th:block th:unless="${l.boardAddFile=='1'}">
						</th:block>
					</td>
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.registTime}"></td>
					<td th:text="${l.boardReadCount}"></td>
					
				</tr>
				<tr th:unless="${not #lists.isEmpty(qnaServiceList)}">
					<td colspan="8">조회된 내용이 없습니다.</td>
				</tr>
				</tbody>
		</table>
			</div>
			
			
			<div class="tab-pane fade" id="qnaPickup" role="tabpanel" aria-labelledby="profile-tab">
		<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
			<thead>
				<tr>
					<th>번호</th>
					<th>답변상태</th>	
					<th>비밀글</th>
					<th>제목</th>
					<th>첨부</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회</th>
					
				</tr>
			</thead>
				<tbody>
				<tr th:if="${not #lists.isEmpty(qnaPickupList)}" th:each="l : ${qnaPickupList}">
					<td th:text="${l.boardIdx}"></td>
					<td th:text="${l.commentState}"></td>
					<td>
						<th:block th:if="${l.boardSecret=='Y'}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
							  <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
							</svg>
						</th:block>
						<th:block th:unless="${l.boardSecret=='N'}">
						</th:block>						
					</td>
					<td>
					<th:block th:if="${l.boardOrderNo=='1'}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
						</svg>
					</th:block>
					<th:block th:unless="${l.boardOrderNo=='1'}">
					</th:block>
					<a th:href="@{/admin/qnaDetail(boardMenuCode=${l.boardMenuCode},boardIdx=${l.boardIdx})}" th:text="${l.boardTitle}"></a>
					</td>
					<td>
						<th:block th:if="${l.boardAddFile=='1'}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
									  <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
									</svg>
						</th:block>
						<th:block th:unless="${l.boardAddFile=='1'}">
						</th:block>
					</td>
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.registTime}"></td>
					<td th:text="${l.boardReadCount}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(qnaPickupList)}">
					<td colspan="8">조회된 내용이 없습니다.</td>
				</tr>
				</tbody>
		</table>
			</div>
			
			
			<div class="tab-pane fade" id="qnaPay" role="tabpanel" aria-labelledby="contact-tab">
		<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
			<thead>
				<tr>
					<th>번호</th>
					<th>답변상태</th>	
					<th>비밀글</th>
					<th>제목</th>
					<th>첨부</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회</th>
					
				</tr>
			</thead>
					<tbody>
				<tr th:if="${not #lists.isEmpty(qnaPayList)}" th:each="l : ${qnaPayList}">
					<td th:text="${l.boardIdx}"></td>
					<td th:text="${l.commentState}"></td>
					<td>
						<th:block th:if="${l.boardSecret=='Y'}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
							  <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
							</svg>
						</th:block>
						<th:block th:unless="${l.boardSecret=='N'}">
						</th:block>						
					</td>
					<td>
					<th:block th:if="${l.boardOrderNo=='1'}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
						</svg>
					</th:block>
					<th:block th:unless="${l.boardOrderNo=='1'}">
					</th:block>
					<a th:href="@{/admin/qnaDetail(boardMenuCode=${l.boardMenuCode},boardIdx=${l.boardIdx})}" th:text="${l.boardTitle}"></a>
					</td>
					<td>
						<th:block th:if="${l.boardAddFile=='1'}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
									  <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
									</svg>
						</th:block>
						<th:block th:unless="${l.boardAddFile=='1'}">
						</th:block>
					</td>
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.registTime}"></td>
					<td th:text="${l.boardReadCount}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(qnaPayList)}">
					<td colspan="8">조회된 내용이 없습니다.</td>
				</tr>
				</tbody>
		</table>
			</div>
			
			
			<div class="tab-pane fade" id="qnaComplain" role="tabpanel" aria-labelledby="contact-tab2">
			<table id="reportList" class="table table-striped table-bordered" style="width: 100%;">
			<thead>
				<tr>
					<th>번호</th>
					<th>답변상태</th>	
					<th>비밀글</th>
					<th>제목</th>
					<th>첨부</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회</th>
					
				</tr>
			</thead>
					<tbody>
				<tr th:if="${not #lists.isEmpty(qnaComplainList)}" th:each="l : ${qnaComplainList}">
					<td th:text="${l.boardIdx}"></td>
					<td th:text="${l.commentState}"></td>
					<td>
						<th:block th:if="${l.boardSecret=='Y'}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
							  <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
							</svg>
						</th:block>
						<th:block th:unless="${l.boardSecret=='N'}">
						</th:block>						
					</td>
					<td>
					<th:block th:if="${l.boardOrderNo=='1'}">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
						  <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
						</svg>
					</th:block>
					<th:block th:unless="${l.boardOrderNo=='1'}">
					</th:block>
					<a th:href="@{/admin/qnaDetail(boardMenuCode=${l.boardMenuCode},boardIdx=${l.boardIdx})}" th:text="${l.boardTitle}"></a>
					</td>
					<td>
						<th:block th:if="${l.boardAddFile=='1'}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
									  <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0V3z"/>
									</svg>
						</th:block>
						<th:block th:unless="${l.boardAddFile=='1'}">
						</th:block>
					</td>
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.registTime}"></td>
					<td th:text="${l.boardReadCount}"></td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(qnaComplainList)}">
					<td colspan="8">조회된 내용이 없습니다.</td>
				</tr>
				</tbody>
		</table>
			</div>
			
			
			</div>
			</div>
		
		


</div>
</th:block>

</html>