<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
			<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
				<div class="x_title">
				<h2>[[${sessionName}]] 님 세탁소</h2>
					<h2>매출 통계</h2>
					
					<div class="clearfix"></div>
				</div>
				<div class="x_content">
		<div class="table-responsive">
						<div class="clearfix">
	                        <div class="float-left">
	                            <span>Total : </span>
	                        </div>
	                        <div class="float-right pr-2">
	                            　
	                        </div>
                    	</div>	
						<table class="table table-striped jambo_table bulk_action">
							<thead>
								<tr class="headings">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">영수증코드</th>
									<th class="column-title">총 금액</th>
									<th class="column-title">사용한 포인트</th>
									<th class="column-title">결제 방법</th>
									<th class="column-title">결제 승인 일시</th>
									<th class="column-title ">환불 코드</th>
									<th class="column-title">실 결제금액</th>
									<th class="column-title">추가금</th>
									<th class="column-title">배달료</th>
									<th class="bulk-actions" colspan="10">
										<a class="antoo" style="color:#fff; font-weight:500;">전체 선택 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr class="even pointer" th:if="${not #lists.isEmpty(ilbanSalesLookUpList)}" th:each="l : ${ilbanSalesLookUpList}">
									<td class="a-center">
										<input type="checkbox" class="flat" name="table_records">
									</td>
									<td th:text="${l.get('billCode')}"></td>
									<td th:text="${l.get('totalPrice')}"></td>
									<td th:text="${l.get('payUsePoint')}"></td>
									<td th:text="${l.get('payMethod')}"></td>
									<td th:text="${l.get('payOkDate')}"></td>
									<td th:text="${l.get('refundCode')}"></td>
									<td th:text="${l.get('afterUsePointPay')}"></td>
									<td th:text="${l.get('addPay')}"></td>
									<td th:text="${l.get('deliveryPay')}"></td>
								</tr>
								<tr class="even pointer" th:unless="${not #lists.isEmpty(ilbanSalesLookUpList)}">
									<td colspan="10" style="text-align: center; font-size: 20px;">조회된 리스트가 없습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" th:href="@{/admin/ilbanSales}" tabindex="-1">처음</a>
							</li>
						<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
							<li class="page-item"></li>
							<li><a class="page-link" th:unless="${currentPage eq num}" th:href="@{/admin/ilbanSales(currentPage=${num})}" th:text="${(num < 5)? '0'+ num: num}"></a></li>
						</th:block>
							<li class="page-item">
								<li class="page-item"><a class="page-link" th:href="@{/admin/ilbanSales(currentPage=${lastPage})}">마지막</a></li>
							</li>
						</ul>
					</nav>
					</div>
					</div>
					</div>
					
	</th:block>

</html>