<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>UpConstruction Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/project/favicon.png" rel="icon">
  <link href="img/project/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="project/vendor/project/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="project/vendor/project/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="project/vendor/project/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="project/vendor/project/aos/aos.css" rel="stylesheet">
  <link href="project/vendor/project/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="project/vendor/project/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="project/css/project.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction - v1.0.0
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a th:href="@{project}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="project/img/project/logo.png" alt=""> -->
        <h1>내 손안에 세탁소<span>.</span></h1>
      </a>

      <!-- navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a th:href="@{user/index}" class="active">Home으로 돌아가기</a></li>
          
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /navbar -->
    </div>
  </header>
  <!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">왜 <span>무인점포 프로젝트를 </span> 선택했을까?</h2>
            <p data-aos="fade-up">무인세탁 프렌차이즈 및 일반 세탁소 연계 플랫폼<br>
            
            <a data-aos="fade-up" data-aos-delay="200" href="#constructions" class="btn-get-started">Get Started</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active" style="background-image: url(project/img/project/hero-carousel-1.jpg)"></div>
      <div class="carousel-item" style="background-image: url(project/img/project/hero-carousel-2.jpg)"></div>
      <div class="carousel-item" style="background-image: url(project/img/project/hero-carousel-3.jpg)"></div>
      <div class="carousel-item" style="background-image: url(project/img/project/hero-carousel-4.jpg)"></div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

   

    <!-- ======= Constructions Section ======= -->
    <section id="constructions" class="constructions">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>"코로나, 뉴노멀, 언택트, 온택트" 시대에 가장 핵심 포인트는 바로 무인</h2>
          <p>무인 세탁소 프로젝트를 선정한 이유</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(project/img/project/population-1.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">수요성</h4>
                    <p> 2021년도 통계청 자료에 따르면 현재<br> 우리나라 1인가구의 수는 약 620만명에 육박합니다.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(project/img/project/untect.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">언택트의 시대</h4>
                    <p> 코로나19로 인해 우리에게 찾아 온 ‘언택트’ 생활은 우리의 일상을 바꿔 놓았습니다. 
                    <br>학생들은 온라인으로 수업으로, 문화공연은 스트리밍으로
					<br>이와 같이 생활/집안일에도 언택트가 더욱이 필요합니다.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(project/img/project/delivery.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">언택트를 넘어선 온택드</h4>
                    <p>언택트를 넘어선 온택트로 본 프로젝트에서는 기존에 무인세탁소 예약 및 일반세탁소 수거 / 배송 기능을 진행하였습니다.</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
            <div class="card-item">
              <div class="row">
                <div class="col-xl-5">
                  <div class="card-bg" style="background-image: url(project/img/project/forcity.jpg);"></div>
                </div>
                <div class="col-xl-7 d-flex align-items-center">
                  <div class="card-body">
                    <h4 class="card-title">일반세탁소 연계</h4>
                    <p>가맹 본사의 독식 체제가 아닌 지역상권,소상공인 까지 생각하여 도시 재생을 위해 기본 세탁은 "무인 세탁"으로 기능 세탁은 "일반세탁소"와 연계하는 연계플랫폼도 함께 준비합니다. </p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Constructions Section -->

    

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
    
	<div class="section-header">
          <h2>기존 무인세탁소와의 차별점</h2>
        </div>
      <div class="container" data-aos="fade-up">

        <ul class="nav nav-tabs row  g-2 d-flex">

          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4> 결제 시스템</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4>CRM(고객관계관리)</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4>세탁 예약 기능</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4>성공 사례</h4>
            </a>
          </li><!-- End tab nav item -->

        </ul>

        <div class="tab-content">

          <div class="tab-pane active show" id="tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>동전 없는 무인세탁소 </h3>
                <p class="fst-italic">
                 	무인 세탁소의 고질적인 문제 동전 교환기 / 투입구 고장
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i>동전 교환기의 문제로 인해 동전을 교환하지 못해 세탁하지 못하는 경우</li>
                  <li><i class="bi bi-check2-all"></i> 세탁기의 동전 투입구 고장으로 세탁을 하지 못하는 경우를 보완하기 위해 </li>
                  <li><i class="bi bi-check2-all"></i>회원 가입 제도를 통한 카카오 페이, 앱카드 외 카드 결제 시스템 도입</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center" data-aos="fade-up" data-aos-delay="200">
                <img src="project/img/project/coin.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>고객 관리</h3>
                <p class="fst-italic">
                  	
                </p>
                <ul>
                  <li><i class="bi bi-check2-all"></i> 특정 다수의 고객만 상대해야 되는 무인세탁소의 단점을 보완하기 위해 특정 다수, </li>
                  <li><i class="bi bi-check2-all"></i> 즉, 단골 손님을 만드는 회원제도와 사용 후기, 고객의 소리등을 통해서 올바른 데이터를 수집하고 .</li>
                  <li><i class="bi bi-check2-all"></i> 고객의 소리등을 통해서 올바른 데이터를 수집하고 </li>
                  <li><i class="bi bi-check2-all"></i> 이메일, 웹사이트, 오프라인 매장, 모바일 예약, 마케팅 및 광고 활동 등에 다양하게 활용하여 고객 관리를 진행합니다.</li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="project/img/project/crm.png" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>예약이 가능한 무인 세탁소</h3>
                <ul>
                  <li><i class="bi bi-check2-all"></i> 세탁기가 사용중인지 사용중이 아닌지 확인 할 수 없었던 문제,</li>
                  <li><i class="bi bi-check2-all"></i> 선착순 대로만 사용할 수 있어서 불편했던 문제들을 해결하기 위해</li>
                  <li><i class="bi bi-check2-all"></i> 무인세탁소 예약 시스템을 도입하였습니다</li>
                </ul>              
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="project/img/project/clock.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

          <div class="tab-pane" id="tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0 d-flex flex-column justify-content-center">
                <h3>실제 무인세탁소 성공 사례들</h3>
               <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="project/img/project/precent.jpg" alt="신문기사" class="img-fluid">
              </div>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="project/img/project/news.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End tab content item -->

        </div>

      </div>
    </section><!-- End Features Section -->

     </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h4>무인세탁 프렌차이즈 및 일반 세탁소 연계 플랫폼 </h4>
              <p>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-twitter"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-instagram"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-5">
					<div class="single-footer-caption mb-50">
						<div class="footer-tittle">
							<h4>GIT</h4>
							<ul>
								<li><a href="https://github.com/suavitas/ks43team04">git주소</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
					<div class="single-footer-caption mb-50">
						<div class="footer-tittle">
							<h4>Support</h4>
							<ul>
								<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 이형렬</a></li>
								<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 이용탁</a></li>
								<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 홍승윤</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
					<div class="single-footer-caption mb-50">
						<div class="footer-tittle">
							<h4>고객센터</h4>
							<ul>
								<li><a href="#">자주 묻는 질문</a></li>
								<li><a href="#">이용약관</a></li>
								<li><a href="#">개인정보취급방침</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer-bottom area -->
	<div class="footer-bottom-area">
		<div class="container">
			<div class="footer-border">
				<div class="row d-flex align-items-center">
					<div class="col-xl-12 ">
						<div class="footer-copy-right text-center">
							<p>
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								Copyright &copy;
								<script>
									document
											.write(new Date().getFullYear());
								</script>
								All rights reserved | This template is made with <i
									class="fa fa-heart" aria-hidden="true"></i> by 
								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="project/vendor/project/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="project/vendor/project/aos/aos.js"></script>
  <script src="project/vendor/project/glightbox/js/glightbox.min.js"></script>
  <script src="project/vendor/project/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="project/vendor/project/swiper/swiper-bundle.min.js"></script>
  <script src="project/vendor/project/purecounter/purecounter_vanilla.js"></script>
  <script src="project/vendor/project/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="project/js/project.js"></script>



</body>

</html>