<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">
	  
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">


				<h1>	-비밀번호 찾기 페이지
			아이디/비밀번호 찾기
			--------
			아이디
			-
			이메일주소
			-
			비밀번호찾기 질문/답변 //탭 
			임시비밀번호 발급 버튼 </h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</th:block>
</html>