<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/userdefault}">
<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">	   

<th:block layout:fragment="customCss">
	<!-- Alert2 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
</th:block>

<!-- 사용자 정의 JsScript 파일-->
<th:block layout:fragment="customJsScript">
<!-- Alert2 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>   
</th:block>


<th:block layout:fragment="customJsScript2">
 <script type="text/javascript">
 $(document).on('click', '#info', function(e) {
      swal(
        'Info!',
        'You clicked the <b style="color:cornflowerblue;">info</b> button!',
        'info'
      )
    });
 </script>
 </th:block>
    	
<style>
    .input-form {
      
      width: 800px;
      height: 500px;
      

      margin-top: 150px;
      margin-bottom: 100px;
      padding: 10px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    }
    .form-group {
    	width: 50%;
    	margin: 0 auto;
    	padding: 5px;  	
    }
    #loginForm {
    	padding: -50%;  
    }  
</style>	
	
		<div class="container register" style="margin-top: 100px; margin-bottom: 100px;  height: 95vh;" >
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                        <li class="nav-item"> 
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#adminlogin" role="tab">관리자</a> <!-- aria-controls="home" aria-selected="true" -->                     
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#userlogin" role="tab">회 원</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#libanlogin" role="tab">일반점주</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#muinlogin" role="tab">무인점주</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent" style="width: 70%; margin: 0 auto;" > 
                     
                        <div class="tab-pane fade show active text-align form-new" id="adminlogin" role="tabpanel">    
                                                   
                          <div class="input-form">                     	
                            <h3 class="register-heading" style="padding: 50px; text-align: center;" >관리자 로그인</h3> <br>
                                <div class="col-md-12">
                                    <form id="loginForm" th:action="@{/user/login}" method="post">
                                        <div class="form-group">                                     
                                            <input type="text" name="memberId" class="form-control" placeholder="관리자 아이디" value="id001"/>  <!-- required -->
                                        </div>
                                        <div class="form-group" > 
                                            <input type="password" name="memberPw" class="form-control" placeholder="관리자 비밀번호" value="pw001" />
                                        </div>
                                        <div class="form-group" style="text-align: center;"> 
                                            <input type="submit" class="btnContactSubmit" id="loginBtn" value="로그인" style="width: 45%; margin: 5%"/>                                                                                                                        
                                        </div>
                                        <div style="text-align: center; padding: 4%;">                           
                                        	<a th:href="@{/user/againPwMember}" class="forget">비밀번호 찾기</a>  <!-- <a th:href="@{/user/index}" class="btnForgetPwd" value="Login">비밀번호를 잊으셨나요?</a> -->                                    
                                       	</div>	 
                                    </form>
                                </div>
                            </div>
                        </div>
 
                        <div class="tab-pane fade text-align form-new" id="userlogin" role="tabpanel">
                                                 
                          <div class="input-form">
                            <h3 class="register-heading" style="padding: 50px; text-align: center;">회원 로그인</h3> <br>
                                <div class="col-md-12">
                                    <form id="loginForm" th:action="@{/user/login}" method="post">
                                        <div class="form-group" >
                                            <input type="text" name="memberId" class="form-control" placeholder="회원 아이디" value="id016">  <!-- required -->
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="memberPw" class="form-control" placeholder="회원 비밀번호" value="pw016" >
                                        </div>
                                        <div class="form-group" style="text-align: center;">
                                            <input type="submit" class="btnContactSubmit" id="loginBtn" value="로그인" style="width: 45%; margin: 5%"/>                                                                                                                        
                                        </div>
                                        <div style="text-align: center;">
                                        <a th:href="@{/user/againPwMember}" class="forget">비밀번호 찾기</a>                                    
                                        <br>
                                         	회원이 아니신가요? <a th:href="@{/user/addMember}" class="registration">회원가입</a>
                                        </div> 	
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <div class="tab-pane fade text-align form-new" id="libanlogin" role="tabpanel">
                        	
                         <div class="input-form"> 
                            <h3 class="register-heading" style="padding: 50px; text-align: center;">일반점주 로그인</h3> <br>                         
                                <div class="col-md-12" >
                                    <form id="loginForm" th:action="@{/user/login}" method="post">
                                        <div class="form-group" >
                                            <input type="text" name="memberId" class="form-control" placeholder="일반점주 아이디" value="id011">  <!-- required -->
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="memberPw" class="form-control" placeholder="일반점주 비밀번호" value="pw011" >
                                        </div>
                                        <div class="form-group" style="text-align: center;">
                                            <input type="submit" class="btnContactSubmit" id="LoginBtn" value="로그인" style="width: 45%; margin: 5%"/>                                                                                                                        
                                        </div>
                                        <div style="text-align: center;">
                                        <a th:href="@{/user/againPwMember}" class="forget">비밀번호 찾기</a>                                    
                                        <br>
                                        	회원이 아니신가요? <a th:href="@{/user/addMemberLaundry}" class="registration">회원가입</a>
                                        </div> 	
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                         <div class="tab-pane fade  text-align form-new" id="muinlogin" role="tabpanel">
                        
                           <div class="input-form"> 
                             <h3 class="register-heading" style="padding: 50px; text-align: center;">무인점주 로그인</h3> <br>
                                <div class="col-md-12" >
                                    <form id="loginForm" th:action="@{/user/login}" method="post">
                                        <div class="form-group" >
                                            <input type="text" name="memberId" class="form-control memberId" placeholder="무인점주 아이디" value="id006">  <!-- required -->
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name="memberPw" class="form-control" placeholder="무인점주 비밀번호" value="pw006" >
                                        </div>
                                        <div class="form-group" style="text-align:center;">
                                            <input type="submit" class="btnContactSubmit" id="submit" value="로그인" style="width: 45%; margin: 5%"/>                                                                                                                        
                                        </div>
                                        <div style=" text-align: center;">
                                        <a th:href="@{/user/againPwMember}" class="forget">비밀번호 찾기</a>                                     
                                        <br>                                    
                                        	회원이 아니신가요? <a th:href="@{/user/addMemberLaundry}" class="registration">회원가입</a>
                                        </div>
                                        <div th:if="${not #strings.isEmpty(result)}">
										<p th:text="${result}"></p>
										</div>
                                    </form>
                                	</div>
                            	</div>
                        	</div>
                        </div>
                    </div>   
                </div>
            </div>
	  <script type="text/javascript" th:src="@{/common/jquery-3.6.0.min.js}"></script>
      <script type="text/javascript">
	    var inputForm = document.querySelectorAll('.input-form');
        var btnH = document.querySelectorAll('.btn-h');
        
        for(var i=0; i<btnH.length; i++){
           btnH[i].addEventListener('click',function(e){
              var memberId = e.target.parentElement.parentElement.querySelector('.memberId').value
              console.log(memberId);
              
              if(memberId == ''){
                 alert('다시 입력해주세요.');
              } 
           });
        }     	
      </script>
		
   </th:block>
</html>

