<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">

	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
	
		<table border="1">
			<thead>
				<tr>
					<th>회원아이디</th>
					<th>회원비밀번호</th>
					<th>회원이름</th>
					<th>회원생년월일</th>
					<th>회원이메일</th>
					<th>회원우편번호</th>
					<th>회원주소</th>
					<th>회원상세주소</th>
					<th>회원성별</th>
					<th>회원이메일</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${not #lists.isEmpty(memberList)}" th:each="l : ${memberList}">	
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberBirth}"></td>
					<td th:text="${l.memberEmail}"></td>
					<td th:text="${l.memberLevel}"></td>
					<td th:text="${l.memberAddr}"></td>
					<td th:text="${l.memberRegDate}"></td>
					<td>
						<!-- /member/modifyMember?memberId=Id&memberPw=pw001 와 같다. 아래는 타임리프로 작성하는 방법 -->
						<a th:href="@{/member/modifyMember(memberId=${l.memberId}, memberPw=${l.memberPw})}">수정</a>
					</td>
					<td>
						<a th:href="@{/member/removeMember(memberId=${l.memberId})}">삭제</a>
					</td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(memberList)}">	
					<td colspan="9"> 조회된 내용이 없습니다. </td>
				</tr>
			</tbody>
		</table>






	</th:block>
</html>	  