<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/userDefault}">


<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
	<!-- 게시판 타이틀 -->
	<div id="container">
		<div id="top-loca">
			<div class="boardPath">
				<a th:href="@{/}">HOME</a>
				<h2 style="font-family: 'ONE-Mobile-Regular'">[[${sessionName}]]</h2>
				<span>님의 마이페이지</span>
			</div>
		</div>
	</div>

	<!-- 게시판 탭  -->
	<div class="list-group list-group-horizontal col-sm-12"
		style="margin: 0 auto; text-align: center; padding-right: 0px;">
		<a th:href="@{/user/myPage}"
		
			class="list-group-item list-group-item-action">회원정보</a> 
			
			<a href="#"
			class="list-group-item list-group-item-action">예약 현황</a> 
			
			<a href="#"
			class="list-group-item list-group-item-action"
			style="background-color: #F28123; border-color: #F28123;"
			aria-current="true">수거배송 조회</a> 
			
			<a 
			th:href="@{/user/myPagePayment}"
			class="list-group-item list-group-item-action">결제 내역</a> 
			
			<a
			th:href="@{/user/myPageRefund}"
			class="list-group-item list-group-item-action">환불 내역</a>
			
			<a
			th:href="@{/user/myPagePoint}"
			class="list-group-item list-group-item-action">포인트 조회</a> 
			
			<a
			th:href="@{/user/myPageWrite}"
			class="list-group-item list-group-item-action">내가 쓴 글</a> 
			
			<a href="#"
			class="list-group-item list-group-item-action">리뷰?</a>
	</div>


	<!-- 공지사항 테이블 -->
	<div class="cart-section mt-150 mb-150"
		style="background-color: #f5f6fa; padding: 60px 0 100px; margin: 0; border-top: #e5e5e5 1px solid;">
		<div class="container">
			<div class="row" style="float: none; margin: 100 auto;">
				<div class="col-lg-8 col-lg-12" style="float: none; margin: 0 auto;">

					<!-- 포인트 조회 -->
					<th:block>





						<div class="cart-table-wrap">
							<div class="left-table-area" style="float: left; width: 50%">
								<h2>수거 현황</h2>
								<table id="reportList"
									class="table table-striped table-bordered"
									style="margin: 0 auto; padding: 0;">
									<thead>
										<tr>
											<th>세탁소 이름</th>
											<th>고객 이름</th>
											<th>수거 희망일</th>
											<th>수거 완료일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty(getPickUpList)}"
											th:each="l : ${getPickUpList}">
											<th:block th:if="${not #lists.isEmpty(l.laundryList)}"
												th:each="sl : ${l.laundryList}">
												<td th:text="${sl.laundryName}"></td>
											</th:block>

											<th:block th:if="${not #lists.isEmpty(l.memberList)}"
												th:each="ssl : ${l.memberList}">
												<td th:text="${ssl.memberName}"></td>
											</th:block>
											<td th:text="${l.pickupWantDate}"></td>
											<th:block th:if="${not #lists.isEmpty(l.pickupFinishTime)}">
												<td th:text="${l.pickupFinishTime}"></td>
											</th:block>
											<th:block
												th:unless="${not #lists.isEmpty(l.pickupFinishTime)}">
												<td style="color: red">수거 미완료</td>
											</th:block>

										</tr>
										<tr th:unless="${not #lists.isEmpty(getPickUpList)}">
											<td colspan="9">조회된 내용이 없습니다.</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="right-table-area" style="float: right; width: 50%">
								<h2>배송 현황</h2>
								<table id="reportList"
									class="table table-striped table-bordered"
									style="margin: 0 auto; padding: 0;">
									<thead>
										<tr>
											<th>세탁소 이름</th>
											<th>고객 이름</th>
											<th>배송 예상일</th>
											<th>배송 완료일</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${not #lists.isEmpty(getPickUpList)}"
											th:each="l : ${getPickUpList}">
											<th:block th:if="${not #lists.isEmpty(l.laundryList)}"
												th:each="sl : ${l.laundryList}">
												<td th:text="${sl.laundryName}"></td>
											</th:block>

											<th:block th:if="${not #lists.isEmpty(l.memberList)}"
												th:each="ssl : ${l.memberList}">
												<td th:text="${ssl.memberName}"></td>
											</th:block>
											<td th:text="${l.pickupWantDate}"></td>
											<th:block th:if="${not #lists.isEmpty(l.pickupFinishTime)}">
												<td th:text="${l.pickupFinishTime}"></td>
											</th:block>
											<th:block
												th:unless="${not #lists.isEmpty(l.pickupFinishTime)}">
												<td style="color: red">수거 미완료</td>
											</th:block>

										</tr>
										<tr th:unless="${not #lists.isEmpty(getPickUpList)}">
											<td colspan="9">조회된 내용이 없습니다.</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>






					</th:block>
				</div>
			</div>
		</div>


		<!-- 페이징 -->
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">

						<!-- 공지사항 등록하기  -->
						<div id="qna-btn" class="btnArea">
							<ul style="list-style: none;">
								<li class="qnaWrite"><a
									th:href="@{/user/board/noticeWrite}" class="boxed-btn"
									style="font-weight: 700;">등록하기</a></li>
							</ul>
						</div>
						<div class="pagination-wrap">
							<ul>
								<li><a href="#">Prev</a></li>
								<li><a class="active" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>












	</div>

</th:block>
</html>