<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">
	  
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
   <div id="container">
      <div id="top-loca">
         <div class="boardPath">
            <a th:href="@{/}">HOME</a>           
            <h2 style="font-family: 'ONE-Mobile-Regular'">[[${sessionName}]]</h2><span>님의 마이페이지</span>
         </div>   
      </div>
   </div>   
      
   <!-- 게시판 탭  -->         
   <div class="list-group list-group-horizontal col-sm-12" style="margin:0 auto; text-align: center;padding-right: 0px;">
        <a th:href="@{/user/myPage}" class="list-group-item list-group-item-action">회원정보</a>
      <a href="#" class="list-group-item list-group-item-action">예약 현황</a>
      <a th:href="@{/user/myPageDelivery}" class="list-group-item list-group-item-action">수거배송 조회</a>
      <a th:href="@{/user/myPagePayment}" class="list-group-item list-group-item-action active" style="background-color: #F28123; border-color: #F28123;" aria-current="true">결제 내역</a>
     <a th:href="@{/user/myPageRefund}" class="list-group-item list-group-item-action">환불 내역</a>
      <a th:href="@{/user/myPagePoint}" class="list-group-item list-group-item-action">포인트 조회</a>
      <a th:href="@{/user/myPageWrite}" class="list-group-item list-group-item-action">문의 내역</a>
      <a href="#" class="list-group-item list-group-item-action">리뷰?</a>
   </div>


	</th:block>



</html>