<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/userDefault}">     

<!-- 사용자 정의 JsScript 파일-->
<th:block layout:fragment="customJsScript">
   <!-- 주소검색 API -->
   <script th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
</th:block>

<th:block layout:fragment="customScript">
      <script>
         // 카카오 우편번호 API 
         function searchAddForm() {
              new daum.Postcode({
                  oncomplete: function(data) {
                     
                     var addr = '';
                     var extraAddr = ''; // 참고항목 변수

                      //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                      if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                          addr = data.roadAddress;
                      } else { // 사용자가 지번 주소를 선택했을 경우(J)
                          addr = data.jibunAddress;
                      }
                      
                      document.getElementById('memberPostNum').value = data.zonecode;
                      document.getElementById('memberAddr').value = addr;
                      // 커서를 상세주소 필드로 이동한다.
                      document.getElementById('memberDetailAddr').focus();
                      
                  }
              }).open();
          }
      </script>
      <script>
      function searchLundryAddForm() {
           new daum.Postcode({
               oncomplete: function(data) {
                  
                  var addr = '';
                  var extraAddr = ''; // 참고항목 변수

                   //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                   if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                       addr = data.roadAddress;
                   } else { // 사용자가 지번 주소를 선택했을 경우(J)
                       addr = data.jibunAddress;
                   }
                   
                   document.getElementById('LundryPostNum').value = data.zonecode;
                   document.getElementById('lundryAddr').value = addr;
                   // 커서를 상세주소 필드로 이동한다.
                   document.getElementById('lundryDetailAddr').focus();
                   
               }
           }).open();
       }
      </script>
</th:block>
<style>
     min-height: 100vh;

    .input-form {
      max-width: 800px;

      margin-top: 100px;
      margin-bottom: 100px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    }
    textarea {
      position: relative;
      overflow: auto;
      height: 100px;
      border: 1px solid #dadada;
      box-sizing: border-box;
   }
</style>
</th:block>

<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
   <!-- 게시판 타이틀 -->
   <div id="container">
      <div id="top-loca">
         <div class="boardPath">
            <a th:href="@{/}">HOME</a>           
            <h2 style="font-family: 'ONE-Mobile-Regular'">[[${sessionName}]]</h2><span>님의 마이페이지</span>
         </div>   
      </div>
   </div>   
      
   <!-- 게시판 탭  -->         
   <div class="list-group list-group-horizontal col-sm-12" style="margin:0 auto; text-align: center;padding-right: 0px;">
        <a th:href="@{/user/myPage}" class="list-group-item list-group-item-action active" style="background-color: #F28123; border-color: #F28123;" aria-current="true">
        회원정보
        </a>
      <a href="#" class="list-group-item list-group-item-action">예약 현황</a>
      <a href="#" class="list-group-item list-group-item-action">수거배송 조회</a>
      <a href="#" class="list-group-item list-group-item-action">결제 내역</a>
      <a th:href="@{/user/myPageRefund}" class="list-group-item list-group-item-action">환불 내역</a>
      <a th:href="@{/user/myPagePoint}" class="list-group-item list-group-item-action">포인트 조회</a>
      <a th:href="@{/user/myPageWrite}" class="list-group-item list-group-item-action">내가 쓴 글</a>
      <a href="#" class="list-group-item list-group-item-action">리뷰?</a>
   </div>
   
   
   <!-- 공지사항 테이블 -->
   <div class="cart-section mt-150 mb-150" style="background-color: #f5f6fa; padding: 60px 0 100px; margin: 0; border-top: #e5e5e5 1px solid;">
      <div class="container">
         <div class="row" style="float: none; margin: 100 auto;">
            <div class="col-lg-8 col-lg-12" style="float: none; margin:0 auto;">

        <div class="container"  style="margin-top: 80px; margin-bottom: 100px;">
          <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto" >
                  <div id="cid_1" class="form-input-wide" data-layout="full" >
                    <div data-component="separator" style="border-top:1px solid rgb(0,0,0); clear:both;"></div>
             </div>
             <div>
              <form th:action="@{/user/modifyMyPage}" method="post" class="validation-form" novalidate>
               <table class="table table-bordered mt-6">
                  <thead>
                     <tr>
                        <th scope="col" style="width: 10%;">#</th>
								<th scope="col"><strong>내 정보관리</strong></th>
					</tr>
					  </thead>  
			          <tbody>
			        	<tr>
							<th scope="row" style="text-align: center;">회원 정보</th>
								<td>
					<div class="mb-3"  style="margin: 20px auto;"> 
						<label for="password"><strong>아이디</strong></label> 
						<div style="display: flex;">
							<input type="text" class="form-control" id="memberId" style="width: 85%;" th:value="${member.memberId}" readonly="readonly">	
							<button type="button" class="btn btn-success" id="idCheck" style="width: 20%;">중복체크</button>
						</div>
							<div>
								<span id="idCheckResult"></span>
							</div>
					</div>			

					<div class="mb-3" style="margin: 20px auto;">
						<label for="password"><strong>비밀번호</strong></label> 
						<input type="text" class="form-control" id="memberPw" th:value="${member.memberPw}" readonly="readonly">
					</div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="email"><strong>이름</strong></label>
						<input type="email" class="form-control" id="memberName" th:value="${member.memberName}" readonly="readonly">
					</div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="birth"><strong>생년월일</strong></label> 
						<input type="date" class="form-control" id="memberBirth" th:value="${member.memberBirth}" readonly="readonly">
					</div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="email"><strong>주소</strong></label> 
						<div style="display: flex;">
							<input type="text" class="form-control" name="memberPostNum" id="memberPostNum" placeholder="우편번호" style="width: 85%;" th:value="${member.memberPostNum}" readonly="readonly">
							<button type="button" class="btn btn-success" id="postNum" style="width: 20%;" onclick="searchAddForm()">우편찾기</button>				
						</div>
					</div>	
					<div class="mb-3" style="margin: 20px auto;">			
							<input type="text" class="form-control" name="memberAddr" id="memberAddr" placeholder="주소" style="width: 85%;" th:value="${member.memberAddr}" readonly="readonly">
					</div>
					<div class="mb-3" style="margin: 20px auto;">			
							<input type="text" class="form-control" name="memberDetailAddr" id="memberDetailAddr" placeholder="상세주소" style="width: 85%;" th:value="${member.memberDetailAddr}" readonly="readonly">
					</div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="phone"><strong>전화번호</strong></label> 
						<input type="text" class="form-control" id="memberPhone" placeholder="전화번호 입력" style="width: 85%;" th:value="${member.memberPhone}" readonly="readonly">
					</div>
					
					<div class="mb-3" style="margin: 20px auto;">
						<label for="gen"><strong>성별 선택</strong></label> 
						<input type="checkbox" name="memberGender" value="female" style="margin: 18px;" th:value="${member.memberGender}" /><strong>여성</strong>
  						<input type="checkbox" name="memberGender" value="male" style="margin: 18px;"  th:value="${member.memberGender}" /><strong>남성</strong>
					</div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="email"><strong>이메일</strong></label> 
						<input type="text" class="form-control" id="memberEmail" placeholder="이메일 입력" th:value="${member.memberEmail}" readonly="readonly">
					</div>
	
					</tbody> 		
				</table>
				<div class="ln_solid"></div>
						<div class="form-group" style="margin: 5%">
							<div class="col-md-12 col-sm-12 text-center">
								<button type="button" class="btn btn-success" id="modifyButton">수정</button>
								<button type="submit" class="btn btn-info">저장</button>
							</div>
						</div>
					</form>			
				</div>
				 	
				<th:block th:if="${session.SLEVEL == 'level_code_03'}">
				<div id="cid_1" class="form-input-wide" data-layout="full" >
			           <div data-component="separator" style="border-top:1px solid rgb(0,0,0); clear:both;"></div>
			    </div> 	
						<form th:action="@{/user/modifyLaundryMyPage}" method="post">
							<table class="table table-bordered mt-6">
				      		<thead>
								<tr>
									<th scope="col" style="width: 10%;">#</th>
									<th scope="col"><strong>세탁소 사업장 관리</strong></th>
								</tr>
					  		</thead>  
			        <tbody>
			        	<tr>
							<th scope="row" style="text-align: center;">세탁소 정보</th>
								<td> 				          

					<div class="mb-3"  style="margin: 20px auto;">
						<label for="name"><strong>세탁소 명</strong></label> 
							<input type="text" class="form-control" id="laundryName" name="laundryName" style="width: 85%;" th:value="${laundry.laundryName}" readonly="readonly">	
					</div>
			      
			        <div class="mb-3" style="margin: 20px auto;">
						<label for="num"><strong>사업자등록번호</strong></label> 
						<input type="text" class="form-control" id="businessNumber" name="laundryName" th:value="${laundry.businessNumber}" readonly="readonly">
					</div>

								
					<div class="mb-3" style="margin: 20px auto;">
						<label for="phone"><strong>세탁소 대표번호</strong></label> 
						<input type="text" class="form-control" id="laundryTel" name="laundryTel" placeholder="대표전화 입력" style="width: 85%;" th:value="${laundry.laundryTel}" readonly="readonly">
					</div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="addr"><strong>세탁소 주소</strong></label> 
						<div style="display: flex;">
							<input type="text" class="form-control" name="lundryPostNum" id="lundryPostNum" placeholder="우편번호" style="width: 85%;" th:value="${laundry.laundryPostNum}" readonly="readonly">
							<button type="button" class="btn btn-success" id="postNum" style="width: 20%;" onclick="searchLundryAddForm()">우편찾기</button>				
						</div>
					</div>
					<div class="mb-3" style="margin: 20px auto;">			
							<input type="text" class="form-control" name="lundryAddr" id="lundryAddr" placeholder="주소" style="width: 85%;" th:value="${laundry.laundryAddr}" readonly="readonly">
					</div>
					<div class="mb-3" style="margin: 20px auto;">			
							<input type="text" class="form-control" name="lundryDetailAddr" id="lundryDetailAddr" placeholder="상세주소" style="width: 85%;" th:value="${laundry.laundryDetailAddr}" readonly="readonly">
					</div>
					  </td>
					</tr>
				</tbody>
			  </table>
			  <div class="ln_solid"></div>
					<div class="form-group" style="margin: 5%">
						<div class="col-md-12 col-sm-12 text-center">
							<button type="button" class="btn btn-success" id="modifySellerButton">수정</button>
							<button type="submit" class="btn btn-info">저장</button>
						</div>
					</div>
			</form>
		</th:block>
		
				<th:block th:if="${session.SLEVEL == 'level_code_02'}">
				<div id="cid_1" class="form-input-wide" data-layout="full" >
			           <div data-component="separator" style="border-top:1px solid rgb(0,0,0); clear:both;"></div>
			    </div> 	
					<form th:action="@{/userMember/modifySellerMyPage}" method="post">
						<table class="table table-bordered mt-6">
				      		<thead>
								<tr>
									<th scope="col" style="width: 10%;">#</th>
									<th scope="col"><strong>세탁소 사업장 관리</strong></th>
								</tr>
					  		</thead>  
			        <tbody>
			        	<tr>
							<th scope="row" style="text-align: center;">세탁소 정보</th>
								<td> 				          

					<div class="mb-3"  style="margin: 20px auto;">
						<label for="name"><strong>세탁소 명</strong></label> 
							<input type="text" class="form-control" id="laundryName" name="laundryName" style="width: 85%;" th:value="${laundry.laundryName}" readonly="readonly">	
					</div>
			      
			        <div class="mb-3" style="margin: 20px auto;">
						<label for="num"><strong>사업자등록번호</strong></label> 
						<input type="text" class="form-control" id="businessNumber" name="laundryName" th:value="${laundry.businessNumber}" readonly="readonly">
					</div>
	                <div class="mb-3" style="margin: 20px auto;">
	                  <label><strong>사업자등록증 사진</strong></label>
	                    <div>
	                    	<img th:src="@{/build/images/license.jpg}" class="img-fluid" alt="Responsive image">
	                    </div>
	                  	<input type="file"/>
	                </div>
	                <div class="mb-3" style="margin: 20px auto;">
	                  <label><strong>세탁소 사진</strong></label>
	                    <div>
	                    	<img th:src="@{/build/images/setak.png}" class="img-fluid" alt="Responsive image">
	                    </div>
	                  	<input type="file"/>
	                </div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="phone"><strong>세탁소 대표번호</strong></label> 
						<input type="text" class="form-control" id="laundryTel" placeholder="대표전화 입력" style="width: 85%;" name="laundryTel" th:value="${laundry.laundryTel}" readonly="readonly">
					</div>

					<div class="mb-3" style="margin: 20px auto;">
						<label for="addr"><strong>세탁소 주소</strong></label> 
						<div style="display: flex;">
							<input type="text" class="form-control" name="lundryPostNum" id="lundryPostNum" placeholder="우편번호" style="width: 85%;" th:value="${laundry.laundryPostNum}" readonly="readonly">
							<button type="button" class="btn btn-success" id="postNum" style="width: 20%;" onclick="searchLundryAddForm()">우편찾기</button>				
						</div>
					</div>
					<div class="mb-3" style="margin: 20px auto;">			
							<input type="text" class="form-control" name="lundryAddr" id="lundryAddr" placeholder="주소" style="width: 85%;" th:value="${laundry.laundryAddr}" readonly="readonly">
					</div>
					<div class="mb-3" style="margin: 20px auto;">			
							<input type="text" class="form-control" name="lundryDetailAddr" id="lundryDetailAddr" placeholder="상세주소" style="width: 85%;" th:value="${laundry.laundryDetailAddr}" readonly="readonly">
					</div>
					  </td>
					</tr>
				</tbody>
			  </table>
			  		<div class="ln_solid"></div>
					<div class="form-group" style="margin: 5%">
						<div class="col-md-12 col-sm-12 text-center">
							<button type="button" class="btn btn-success" id="modifySellerButton">수정</button>
							<button type="submit" class="btn btn-info">저장</button>
						</div>
					</div>
				</form>
		</th:block>
		</div>
	</div>	
</div>				
</div>				
</div>			
</div>
</div>
     </th:block>
</html>

  