<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">
	
	<th:block layout:fragment="customCss">
		<link rel="stylesheet" th:href="@{https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css}">
	</th:block>  
	
	<th:block layout:fragment="customJsPlugin">
		<script th:src="@{https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js}"></script>
	</th:block>
	
	<th:block layout:fragment="customJsScript">
		<script>
			$(function(){
				$('.tbNoticeList').DataTable({
					language : {'info':'맘대로'}
				});
			});
		</script>
	</th:block>

	  
<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
   <!-- 게시판 타이틀 -->
   <div id="container">
      <div id="top-loca">
         <div class="boardPath">
            <a th:href="@{/}">HOME</a>           
            <h2 style="font-family: 'ONE-Mobile-Regular'">[[${sessionName}]]</h2><span>님의 마이페이지</span>
         </div>   
      </div>
   </div>   
      
   <!-- 게시판 탭  -->         
   <div class="list-group list-group-horizontal col-sm-12" style="margin:0 auto; text-align: center;padding-right: 0px;">
        <a th:href="@{/user/myPage}" class="list-group-item list-group-item-action">회원정보</a>
      <a href="#" class="list-group-item list-group-item-action">예약 현황</a>
      <a th:href="@{/user/myPageDelivery}" class="list-group-item list-group-item-action">수거배송 조회</a>
      <a th:href="@{/user/myPagePayment2}" class="list-group-item list-group-item-action">결제 내역</a>
     <a th:href="@{/user/myPageRefund}" class="list-group-item list-group-item-action">환불 내역</a>
      <a th:href="@{/user/myPagePoint}" class="list-group-item list-group-item-action">포인트 조회</a>
      <a th:href="@{/user/myPageWrite}" class="list-group-item list-group-item-action active" style="background-color: #F28123; border-color: #F28123;" aria-current="true">문의 내역</a>
      <a href="#" class="list-group-item list-group-item-action">리뷰?</a>
   </div>
   
	
	
	<!-- 공지사항 테이블 -->
	<div class="cart-section mt-150 mb-150" style="background-color: #f5f6fa; padding: 60px 0 100px; margin: 0; border-top: #e5e5e5 1px solid;">
		<div class="container">
			<div class="row" style="float: none; margin: 100 auto;">
				<div class="col-lg-8 col-lg-12" style="float: none; margin:0 auto;">				
					
					<!-- 공지사항 목록 조회 -->
<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="nav-washService1" role="tabpanel" aria-labelledby="nav-washService1-tab">		
					<div class="row" style="float: none; margin: 100 auto;">
						<div class="col-lg-8 col-lg-12" style="float: none; margin:0 auto;">
							<div class="cart-table-wrap">
								<table class="cart-table tbqnaList">
									<thead class="cart-table-head">
										<tr class="table-head-row">
												<th class="product-remove">번호</th>
												<th class="product-remove">답변상태</th>
												<th class="product-remove">비밀글</th>
												<th class="product-image" style="width: 40%">제목</th>
												<th class="product-name">첨부</th>
												<th class="product-price">작성자</th>
												<th class="product-quantity">작성일</th>
												<th class="product-total">조회</th>
										</tr>
									</thead>
									<tbody>				
										<tr class="table-body-row" th:if="${not #lists.isEmpty(myWritingList)}" th:each="l : ${myWritingList}">
											<td class="product-remove" th:text="${l.boardIdx}"></td>
												<td class="product-remove" th:text="${l.commentState}"></td>
											<td class="product-remove">
													<th:block th:if="${l.boardSecret=='Y'}">
														<i class="bi bi-key-fill"></i>
													</th:block>
													<th:block th:unless="${l.boardSecret=='N'}">
													</th:block>
												</td>
												<td class="product-image" style="text-align: left; padding-left: 20px;">
												<th:block th:if="${l.boardOrderNo=='1'}">
														<i class="bi bi-arrow-return-right"></i>
													</th:block>
													<th:block th:unless="${l.boardOrderNo=='1'}">
													</th:block>
												
													<a th:href="@{/user/board/qnaDetail(boardMenuCode=${l.boardMenuCode},boardIdx=${l.boardIdx})}" th:text="${l.boardTitle}"></a>
												</td>
												<td class="product-name">
													<th:block th:if="${l.boardAddFile=='1'}">
														<i class="bi bi-paperclip"></i>
													</th:block>
													<th:block th:unless="${l.boardAddFile=='1'}">
													</th:block>
												</td>
												<td class="product-price">
													<th:block th:if="${l.memberId=='id001'}" th:text="관리자"></th:block>
													<th:block th:unless="${l.memberId=='id001'}" th:text="${l.memberId}"></th:block>
												</td>
												<td class="product-quantity" th:text="${l.registTime}"></td>
												<td class="product-total" th:text="${l.boardReadCount}"></td>
											</tr>
										<tr th:unless="${not #lists.isEmpty(myWritingList)}">
   									<td colspan="8">조회된 내용이 없습니다.</td>
   										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>			

				</div>
			</div>
		</div>
		</div>
		
		<!-- 페이징 -->
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
					
		<!-- 공지사항 등록하기  -->
		<div id="qna-btn" class="btnArea">
			<ul style="list-style: none;">
				<li class="qnaWrite">
					<a th:href="@{/user/board/qnaWrite}" class="boxed-btn" style="font-weight: 700;">문의하기</a>
				</li>			
			</ul>	
		</div>	
						<div class="pagination-wrap">
							<ul>
								<li><a href="#">Prev</a></li>
								<li><a class="active" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
			
		
			
		
		
		
		
		
		
		
		
		
	</div>
		
</th:block>
</html>