<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="searchDateFragment">
			<!-- start : 기간 검색 바 -->
						
		<div class="form-row mb-2">
			<div class="col-md-5 col-sm-5 searchBtn">
				<label>기간 조회</label>
	             		<button type="button" class="btn btn-light btn-sm ml-2 dateBtnGroup" 		name="filterDate" 	id="btn-date1">오늘</button>
	             		<button type="button" class="btn btn-light btn-sm dateBtnGroup" 			name="filterDate" 	id="btn-date2">1주</button>
	             		<button type="button" class="btn btn-light btn-sm dateBtnGroup"		 		name="filterDate" 	id="btn-date3">1개월</button>
	             		<button type="button" class="btn btn-light btn-sm dateBtnGroup"		 		name="filterDate" 	id="btn-date4">3개월</button>
	             		<button type="button" class="btn btn-light btn-sm dateBtnGroup"		 		name="filterDate" 	id="btn-date5">6개월</button>
	             		<button type="button" class="btn btn-light btn-sm dateBtnGroup"		 		name="filterDate" 	id="btn-date6">1년</button>
	              </div>
				<div class="col-md-2 col-sm-2">
					<input type="date" class="datepicker form-control searchDatepicker" name="startDate" placeholder="연도-월-일" id="startDate">
				</div>
				<div class="align-self-center">
					<i class="fa fa-minus"></i>
				</div>
				<div class="col-md-2 col-sm-2">
					<input type="date" class="datepicker form-control searchDatepicker" name="endDate" placeholder="연도-월-일" id="endDate">
				</div>
		</div>
	</div>
</html>		
			<!-- END : 기간 검색 바 -->