<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
	<div th:fragment="searchLaundryFragment">
		<form th:action="@{/admin/lundryHoliday}">
			<select name="searchKey">
			    <option value="laundryName">세탁소 이름</option>		    
			    <option value="yearlyHolidayDate">휴일</option>
			    <option value="laundryAddr">주소</option>
			</select>
			<input type="text" name="searchValue"/>
			<input type="submit" value="검색버튼"/>
		</form>
	</div>
</html>