<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">
	  	  
<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
	<div class="product-section mt-150 mb-150">
		<div class="container">
			<div class="row product-lists" style="margin: 0 auto; margin-top: 100px;" >
				<!-- DB 에서 무인세탁소 리스트를 꺼내와 반복문을 돌린다. 값이 null이 아닐때 -->
				<th:block th:if="${not #lists.isEmpty(muinLaundryList)}" th:each="l, status : ${muinLaundryList}">
					<div class="col-lg-4 col-md-6 text-center" >
						<div class="single-product-item">
							<div class="product-image">
								<img th:src="@{/user/assets/img/products/laundry.png}" alt="세탁소">
							</div>
							<h5 th:text="${l.get('laundryName')}"></h5>
							<h5 class="product-price" th:text="${l.laundryAddr}"></h5>
							<p>영업상태</p>							
							<h3 th:text="${l.get('laundryState')}"></h3>
							<p th:text="${l.get('laundryTel')}"></p>
							<!-- 모달 예약하기 버튼 시작-->
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" th:data-target="${'#myModal' + status.count}">예약하기</button>
							<!-- Modal -->
							<div class="modal fade" th:id="${'myModal'+ status.count}" tabindex="-1" role="dialog" aria-labelledby="${'myModalLabel'+ status.count}">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="${'myModalLabel'+ status.count}" th:text="${l.get('laundryName')}"></h4>
										</div>
										<div class="modal-body">
										<!-- 예약사항 폼 시작-->
											<div th:each="ls : ${muinMachineList}" class="laundry-machine-form">	
												<div th:if="${l.get('laundryCode')} eq ${ls.laundryCode}">
													<img th:src="@{/user/assets/img/products/laundry.png} " style="width: 100px; height: 100px; cursor: pointer;" alt="세탁소">
													<h4 th:text="${ls.machineState}"></h4>
												</div>			
											</div>
										<!-- 예약사항 폼 끝-->
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
											<button type="button" class="btn btn-primary">예약하기</button>
										</div>
									</div>
								</div>
							</div>
							<!-- 모달 예약하기 버튼 끝 -->
						</div>
					</div>
				</div>
				<th:block th:unless="${not #lists.isEmpty(muinLaundryList)}">
					<table class="cart-table tbServiceList">
						<thead class="cart-table-head" style="font-size: 30px;">
							<tr class="table-head-row" >
								<th class="product-quantity">무인 세탁소의 관련된 문의는 063-717-1008</th>
							</tr>
						</thead>
						<tbody style="text-align: center; font-size: 30px;" >	
							<tr>
								<td>잠깐 !</td>
							</tr>
							<tr>
								<td>오류가 아닙니다.. 단지 !</td>
							</tr>
							<tr>
								<td>조회된 무인 세탁소 목록이 없는거에요 !</td>
							</tr>
						</tbody>
					</table>
				</th:block>
				<div class="row" style="margin-bottom: 100px;">
					<div class="col-lg-12 text-center">
						<div class="pagination-wrap">
							<ul>
								<li><a th:href="@{/user/ilbanYeyak}">처음</a><li>
								<li><a th:if="${currentPage > 1}" th:href="@{/user/muinYeyak(currentPage=${currentPage -1})}">이전</a></li>
								<th:block th:each="num : ${#numbers.sequence(startPageNum, endPageNum)}">
									<li><label th:if="${currentPage eq num}" th:text="${(num < 5)? '0'+ num: num}"></label></li>
									<li><a th:unless="${currentPage eq num}" th:href="@{/user/muinYeyak(currentPage=${num})}" th:text="${(num < 5)? '0'+ num: num}"></a></li>
								</th:block>
								<li><a th:if="${currentPage < lastPage}" th:href="@{/user/muinYeyak(currentPage=${currentPage +1})}">다음</a></li>
								<li><a th:href="@{/user/muinYeyak(currentPage=${lastPage})}">마지막</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>	

<th:block layout:fragment="customJsScript">   
	<script type="text/javascript">
	
		var laundryMachine = document.querySelectorAll('.laundry-machine-form');
		console.log('laundryMachine');
		
		for(var i=0; i<laundryMachine.length; i++){
			laundryMachine[i].addEventListener('click',function(){
				var h4 = this.querySelector('h4');
				var text = h4.innerText;
				if(text == '고장'){
					alert('고장난 세탁기는 예약할 수 없습니다.');
				}else if(text == '정상'){
					if(confirm('예약하시겠습니까? 예약한 세탁기를 5분안에 사용하지 않을시 자동으로 예약이 취소됩니다.')){
						alert('예약되었습니다.');
						h4.innerText = '예약';
					}else {
						alert('예약이 되지 않았습니다.');
					}
				}else if(text == '예약'){
					if(confirm('예약을 취소 하시겠습니까?')){
						alert('예약이 취소되었습니다.');
						h4.innerText = '정상';
					}else {
						alert('예약이 취소되지 않았습니다.');
					}
				}
			});
		}
		
	</script>
</th:block>



</html>