<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- footer -->
<div class="footer-area" th:fragment="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">무인 프로젝트</h2>
					<strong>Phone:</strong> 063-717-1008<br> <strong>Email:</strong>
					info@example.com<br>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Git Adrress</h2>
					<ul>
						<li><a href="https://github.com/suavitas/ks43team04">git주소</a></li>

					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Support</h2>
					<ul>
						<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 이형렬</a></li>
						<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 이용탁</a></li>
						<li><a href="http://ksmart.or.kr/?c=6/13">한국스마트정보교육원 홍승윤</a></li>

					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">고객센터</h2>
					<ul>
						<li><a href="#">자주 묻는 질문</a></li>
						<li><a href="#">이용약관</a></li>
						<li><a href="#">개인정보취급방침</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- end footer -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>


</html>