<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/userDefault}">

<!-- 사용자정의 contents -->
<th:block th:fragment="ilbanModal">
	<!-- 모달 예약하기 버튼 시작-->
	<!-- Button trigger modal -->
	
	<!-- Modal -->
	<div class="modal fade" th:id="${'myModal' + status.count}"
		tabindex="-1" role="dialog"
		th:aria-labelledby="${'myModal' + status.count + 'Label'}">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" th:id="${'myModal'+ status.count +'Label'}"
						th:text="${l.get('laundryName')}">예약사항</h4>

				</div>
				<div class="modal-body">
					<!-- 예약사항 폼 시작-->
					<div class="checkout-accordion-wrap">
						<div class="accordion" id="accordionExample">
							<div class="card single-accordion">
								<div class="card-header" id="headingOne">
									<h5 class="mb-0">
										<button class="btn btn-link" type="button"
											data-toggle="collapse" data-target="#collapseOne"
											aria-expanded="true" aria-controls="collapseOne">수거
											및 배송신청</button>
									</h5>
								</div>
								<div id="collapseOne" class="collapse show"
									aria-labelledby="headingOne" data-parent="#accordionExample">
									<div class="card-body">
										<div class="billing-address-form">
											<form th:action="@{/user/yeyakPayment}" method="post">
												<input type="hidden" name="laundryName"
													th:value="${l.get('laundryName')}">
												<h5>수거일 예약 신청</h5>
												<input type="date" class="currentDate"> <input
													type="time" class="currentDateTime"
													style="margin-bottom: 20px;">
												<p>
													수거는 예약날짜 및 시간 으로 부터 <br />최대 24시간의 시간이 소요 됩니다.
												</p>
												<div th:class="${'append-info'}">
													<div class="boxbox">
														<h5>세탁기능 선택</h5>
														<select>
															<th:block th:each="ls : ${ilbanSkillList}">
																<option th:text="${ls.skillCate}"
																	th:value="${ls.skillCate}"></option>
															</th:block>
														</select> <br />
														<h5 style="margin-top: 20px;">세탁물 선택</h5>
														<select class="igp" name="goodsName">
															<th:block th:each="ls , st : ${ilbanGoodsPriceList}">
																<th:block th:each="lss : ${ls.ilbanGoodsPrice}">
																	<option th:if="${ls.laundryName} eq ${l.laundryName}"
																		th:text="${lss.goodsName}" th:value="${lss.goodsName}"></option>
																</th:block>
															</th:block>
														</select>
													</div>
												</div>
												<br />
												<div class="strBox"></div>
												<div style="margin-bottom: 20px">
													<button type="button" class="btn btn-info append-btn">추가하기</button>
													<button type="button" class="btn btn-info remove-btn">제거하기</button>
												</div>
												<p>
													<input type="text" placeholder="상세주소">
												</p>
												<p>
													<input type="tel" placeholder="연락받을 연락처">
												</p>
												<p>
													<textarea name="bill" id="bill" cols="30" rows="10"
														placeholder="배송시 요청사항"></textarea>
												</p>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="card single-accordion">
								<div class="card-header" id="headingTwo">
									<h5 class="mb-0">
										<button class="btn btn-link collapsed" type="button"
											data-toggle="collapse" data-target="#collapseTwo"
											aria-expanded="false" aria-controls="collapseTwo">가격표</button>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse"
									aria-labelledby="headingTwo" data-parent="#accordionExample">
									<div class="card-body">
										<div class="shipping-address-form">
											<th:block>
												<div class="cart-table-wrap">
													<table class="cart-table tbServiceList">
														<thead class="cart-table-head">
															<tr class="table-head-row">
																<th class="product-quantity">상품명</th>
																<th class="product-total">가격</th>
															</tr>
														</thead>
														<tbody>
															<th:block th:each="ls , st : ${ilbanGoodsPriceList}">
																<tr class="table-body-row"
																	th:each="lss : ${ls.ilbanGoodsPrice}">
																	<td class="product-quantity"
																		th:if="${ls.laundryName} eq ${l.get('laundryName')}"
																		th:text="${lss.goodsName}"></td>
																	<td class="product-total"
																		th:if="${ls.laundryName} eq ${l.get('laundryName')}"
																		th:text="${lss.goodsPrice}"></td>
																</tr>
															</th:block>
														</tbody>
													</table>
												</div>
											</th:block>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 예약사항 폼 끝-->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
					<button type="submit" class="btn btn-primary">결제하기</button>

				</div>
			</div>
		</div>
	</div>
	<!-- 모달 예약하기 버튼 끝 -->


<th:block layout:fragment="customJsScript">
	<script type="text/javascript">
	
		/*close 상태 세탁소 폐업으로 글자 변경 + 클릭 안되게 하는 기능*/
		var laundryBox = document.querySelectorAll('.laundry-box');
		var laundryState = document.querySelectorAll('.laundry-state');
		var yeyakBtn = document.querySelectorAll('.yeyak-btn');
		
		for(var i=0; i<laundryState.length; i++){
			var lState = laundryState[i].innerText;
			if(lState == 'close'){
				yeyakBtn[i].innerText ='폐업';
				yeyakBtn[i].removeAttribute('data-target');
				yeyakBtn[i].addEventListener('click',function(){
					alert('이미 폐업한 곳 입니다.');
				});
			}
		}
			
		/*추가하기 클릭시 세탁기능, 추가*/
		var appendBtn = document.querySelectorAll('.append-btn');
		var removeBtn = document.querySelectorAll('.remove-btn');
		
		for(var i=0; i<appendBtn.length; i++){
			appendBtn[i].addEventListener('click',function(e){
				var box = e.target.parentElement.parentElement.querySelector('.boxbox')
				var strGp = box.querySelector('.igp').value;
			
				e.target.parentElement.parentElement.querySelector('.strBox').innerHTML += '<p>' + strGp + '</p>';
				
			});
		}
		
		/*제거하기 클릭시 세탁기능, 세탁물 선택창 제거*/
		for(var i=0; i<removeBtn.length; i++){
			removeBtn[i].addEventListener('click',function(e){
				var strBox = e.target.parentElement.parentElement.querySelector('.strBox')
				var ps = strBox.querySelectorAll('p');
				var l = ps.length;
	
				if(l <= 0){
					alert('더이상 제거 할 수 없습니다.');
				}else {
					ps[l-1].remove();
				}
				
			});
		}	
		
		/*수거배송 신청예약 폼 내일날짜로 셋팅*/
		var currentDates = document.querySelectorAll('.currentDate');
		var currentDateTimes = document.querySelectorAll('.currentDateTime');
		
		var tomorrowDate = new Date
		
		tomorrowDate.setHours(tomorrowDate.getHours()+9)
		tomorrowDate.setDate(tomorrowDate.getDate()+1)
		
		for(var i=0; i<currentDates.length; i++){
			currentDates[i].value = tomorrowDate.toISOString().substring(0, 10);		
			currentDateTimes[i].value = tomorrowDate.toISOString().slice(11, 16);		
		}
	</script>
</th:block>
</th:block>
</html>