<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layouts/adminDefault}">     

<style>
     min-height: 100vh;

    .input-form {
      max-width: 800px;

      margin-top: 100px;
      margin-bottom: 100px;
      padding: 32px;

      background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    }
</style>

<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">
<!-- 게시판 타이틀 -->
   	<h4>등급기준 및 혜택 수정</h4>
   	<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
			<h2>등급기준 및 혜택 수정</h2>
			<div class="x_title">
			</div>     	   
			      <div class="x_content">
					<form class="form-horizontal form-label-left" th:action="@{/admin/detailLevel}" method="post">
							<div class="form-group row add-member" style="display: none;">
								<label class="control-label col-md-2 col-sm-2" for="levelCode">등급코드</label>
								<div class="col-md-9 col-sm-9" >
									<input type="hidden" class="form-control" name="levelCode" th:value="${memberLevel.levelCode}">
								</div>
							</div>
							<div class="form-group row add-member">
								<label class="control-label col-md-2 col-sm-2" for="levelName">등급종류</label>
								<div class="col-md-9 col-sm-9">
									<input type="text" class="form-control" name="levelName" th:value="${memberLevel.levelName}">
								</div>
							</div>
							<div class="form-group row add-member">
								<label class="control-label col-md-2 col-sm-2" for="rangeStart">최소 이용금액</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control" name="rangeStart" th:value="${memberLevel.userLevel.rangeStart}">
								</div>
							</div>
							<div class="form-group row add-member">
								<label class="control-label col-md-2 col-sm-2" for="rangeEnd">최대 이용금액</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control" name="rangeEnd" th:value="${memberLevel.userLevel.rangeEnd}">
								</div>
							</div>
							<div class="form-group row add-member">
								<label class="control-label col-md-2 col-sm-2" for="savePointPercent">적립포인트 (%)</label>
								<div class="col-md-9 col-sm-9 ">
									<input type="text" class="form-control" name="savePointPercent" th:value="${memberLevel.userLevel.savePointPercent}">
								</div>
							</div>
							
						<div class="ln_solid"></div>
						<div class="form-group">
							<div class="col-md-8 col-sm-8  offset-md-4">
								<a th:href="@{/admin/userLevel}"><button type="button" class="btn btn-secondary" id="cancelButton">취소</button></a>	
								<button type="submit" class="btn btn-primary">저장</button>
							</div>
						</div>
					</form>	
				</div>	
			</div>				
		</div>						
</th:block>
</html>

  