<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
	
	
		<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
   	<h4>세탁소 점주 회원관리</h4>
   	<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
			<h2>세탁소 목록</h2>
			<div class="x_title">
			</div>
				<div class="x_content">
				  <div class="table-responsive">
					<div class="mb-2">
						<!-- START : 검색 바 -->
						<div th:include="member/searchDate :: searchDateFragment"></div>
						<!-- END : 검색 바 -->
					</div>
					<div class="clearfix">
	                        <div class="float-left">
	                            <span>Total : </span>
	                        </div>
	                        <div class="float-right pr-2"></div>
                    </div>
					<form th:action="@{/admin/LoginHistory}" method="get">
						<div class="form-row">
							<div class="form-group col-md-2">
								<select name="searchKey" class="form-control text-center">
									<option value=""> :: 선택 :: </option>
									<option value="member_id">아이디</option>
									<option value="seller_store_name">세탁소 명</option>
									<option value="seller_store_addr">대표번호</option>
									<option value="seller_store_phone">세탁소 주소</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<input type="text" class="form-control" name="searchValue" placeholder="Search"
								aria-label="Text input with dropdown button">
							</div>
							<div class="form-group col-md-2">
								<button type="submit" class="btn btn-success" id="searchBtn"><i class="fa fa-search"></i> 검색</button>
								<button type="reset" class="btn btn-info" id="btn_reset"><i class="fa fa-minus-circle"></i> 초기화</button>
							</div>
						</div>
					</form>
					
						<table class="table table-striped jambo_table bulk_action">					
							<thead>
								<tr class="headings" style="text-align: center;">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">세탁소 코드</th>
									<th class="column-title">아이디</th>
									<th class="column-title">등급코드</th>
									<th class="column-title">세탁소 명</th>
									<th class="column-title">우편번호</th>
									<th class="column-title">주소</th>
									<th class="column-title">상세주소</th>
									<th class="column-title">대표번호</th>
									<th class="column-title">자격증</th>
									<th class="column-title">사업자등록번호</th>
									<th class="column-title">상세조회</th>
									<th class="bulk-actions" colspan="13">
										<a class="antoo" style="color:#fff; font-weight:500;">전체 선택 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(LoginHistory)}" th:each="l : ${LoginHistory}" class="even pointer">
									<td class="a-center">
										<input type="checkbox" class="flat" name="table_records">
									</td>
									<td th:text="${l.laundryCode}"></td>
									<td th:text="${l.memberId}"></td>
									<td th:text="${l.levelCode}"></td>
									<td th:text="${l.laundryName}"></td>
									<td th:text="${l.laundryPostNum}"></td>
									<td th:text="${l.laundryAddr}"></td>
									<td th:text="${l.laundryDetailAddr}"></td>
									<td th:text="${l.laundryTel}"></td>
									<td th:text="${l.skillLicence}"></td>
									<td th:text="${l.businessNumber}"></td>
									<td>
										<div style="text-align: center;">							
										<button type="button">상세 조회</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" th:href="@{/admin/LaundryList}" tabindex="-1"> <
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
	</div>
	
	</th:block>

</html>