<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/adminDefault}">
<style>
	.column-title {
		font-size: 8px;
	}
</style>	  
	  	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
   	<h4>회원등급 기준 및 혜택</h4>
   	<div class="col-md-12 col-sm-12 mt-5">
			<div class="x_panel">
			<h2>회원등급 기준</h2>
			<div class="x_title">
			</div>
				<div class="x_content">
				  <div class="table-responsive">
					<div class="clearfix">
	                        <div class="float-left">
	                            <span>Total : </span>
	                        </div>
	                        <div class="float-right pr-2"></div>
                    </div>
						<table class="table table-striped jambo_table bulk_action">					
							<thead>
								<tr class="headings" style="text-align: center;">
									<th>
										<input type="checkbox" id="check-all" class="flat">
									</th>
									<th class="column-title">등급 종류</th>
									<th class="column-title">이용금액 구간 시작</th>
									<th></th>
									<th class="column-title">이용금액 구간 끝</th>
									<th></th>
									<th class="column-title">적립포인트 %</th>
									<th class="column-title">등록시각</th>
									<th class="column-title">수정시각</th>
									<th class="column-title">기준수정</th>
									<th class="column-title">기준삭제</th>
									<th class="bulk-actions" colspan="10">
										<a class="antoo" style="color:#fff; font-weight:500;">전체 선택 ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${not #lists.isEmpty(userLevel)}" th:each="l : ${userLevel}" class="even pointer">
									<td class="a-center">
										<input type="checkbox" class="flat" name="table_records">
									</td>
									<td th:text="${l.userLevelCalCode}" style="text-align: center;"></td>
									<td th:text="${l.rangeStart}" style="text-align: right;"></td>
									<td>원 ~ </td>
									<td th:text="${l.rangeEnd}" style="text-align: right;"></td>
									<td>원</td>
									<td th:text="${l.savePointPercent}" style="text-align: center;"></td>
									<td th:text="${l.registTime}" style="text-align: center;"></td>
									<td th:text="${l.updateTime}" style="text-align: center;"></td>
									<td>
										<div style="text-align: center;">							
										<button type="button"  class="btn btn-warning btn-sm" >수정</button>
										</div>
									</td>
									<td>
										<div style="text-align: center;">							
										<button type="button"  class="btn btn-secondary btn-sm" >삭제</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-center">
							<li class="page-item">
								<a class="page-link" th:href="@{/admin/userLevel}" tabindex="-1"> <
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#">></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	
</th:block>
</html>
 





























	
</th:block>
</html>