<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team04.mapper.AsMapper">

	<resultMap type="As" 								id="asResultMap">
		<id 	column="as_code" 						property="asCode"/>
		<result column="laundry_code" 					property="laundryCode"/>
		 <result column="m_id"                      	property="memberId"/>
		<result column="as_number" 						property="asNumber"/>
		<result column="as_state" 						property="asState"/>
		<result column="as_title" 						property="asTitle"/>
		<result column="as_content" 					property="asContent"/>
		<result column="as_add_file" 					property="asAddFile"/>
		<result column="as_add_file_name" 				property="asAddFileName"/>
		<result column="as_add_file_change_name" 		property="asAddFileChangeName"/>
		<result column="as_add_file_vol" 				property="asAddFileVol"/>
		<result column="regist_time" 					property="registTime"/>
		<result column="update_time" 					property="updateTime"/>
		<result column="visit_time" 					property="visitTime"/>
		<collection property="LaundryList"         		ofType="LaundryList">
	      <id column="laundry_code"                 	property="laundryCode"/>
	      <result column="m_id"                      	property="memberId"/>
	      <result column="level_code"                	property="levelCode"/>
	      <result column="laundry_name"                 property="laundryName"/>
	      <result column="laundry_state"                property="laundryState"/>
	      <result column="laundry_post_num"             property="laundryPostNum"/>
	      <result column="laundry_addr"                 property="laundryAddr"/>
	      <result column="laundry_detail_addr"          property="laundryDetailAddr"/>
	      <result column="laundry_tel"                	property="laundryTel"/>
	      <result column="laundry_license_img"          property="laundryLicenseImg"/>
	      <result column="laundry_img"                	property="laundryImg"/>
	      <result column="skill_licence"                property="skillLicence"/>
	      <result column="business_number"             	property="businessNumber"/>
	      <result column="admin_level_code"             property="adminLevelCode"/>
	      <result column="regist_time"               	property="registTime"/>
		</collection>
	</resultMap>
	

	<update id="asReceipt" parameterType="As">
		/*AS 접수*/
		UPDATE tb_as AS a
		SET
			as_state='접수',
			visit_time=#{visitTime}
		WHERE 
		a.as_code = #{asCode} 
	</update>
	
	<insert id="asForm" parameterType="As">
		/* AS 작성 */
		INSERT INTO tb_as
			(as_code
			,laundry_code
			,m_id
			,as_number
			,as_state
			,as_title
			,as_content
			,as_add_file
			,as_add_file_name
			,as_add_file_change_name
			,as_add_file_vol
			,regist_time)
		VALUES (
			(SELECT
			CONCAT('as_code','_',max(CAST(substring(as_code,9)+1 AS DECIMAL))) AS as_code from tb_as ALIAS_FOR_SUBQUERY)
		, #{laundryCode}
		, #{memberId}		
		, (SELECT
			IFNULL(MAX(a.as_number), 0)+1
			FROM
			tb_as AS a)
		, '대기'		
		, #{asTitle}
		, #{asContent}
		, '0'
		, '0'
		, '0'
		, '0'
		, NOW());
	</insert>
	
	<select id="getAsDetail" resultMap="asResultMap">
		/*AS 상세 조회*/
		SELECT
			a.as_code
			,a.as_state
			,l.laundry_name
			,a.m_id
			,a.as_title
			,a.as_content
			,a.as_add_file
			,a.as_add_file_name			
			,a.regist_time
			,a.visit_time
		FROM
			tb_as AS a
		INNER JOIN
			tb_laundry AS l
		ON 
			a.laundry_code = l.laundry_code
		where 
			a.as_code = #{asCode};		
	</select>
	
	<select id="asListById" resultMap="asResultMap">
		/* AS 목록 조회 */
		SELECT
			a.as_code
			,a.as_number
			,a.as_state
			,l.laundry_name
			,a.as_title
			,a.as_add_file
			,a.m_id
			,a.regist_time
			,a.visit_time
		FROM
			tb_as AS a
		INNER JOIN
			tb_laundry AS l
		ON 
			a.laundry_code = l.laundry_code
		WHERE 
			a.m_id = #{memberId}	
		order by a.as_number desc;
	</select>
	
	
	<select id="getAsList" resultMap="asResultMap">
	  	/* AS 목록 조회 */
		SELECT
			a.as_code
			,a.as_number
			,a.as_state
			,l.laundry_name
			,a.as_title
			,a.as_add_file
			,a.m_id
			,a.regist_time
			,a.visit_time
		FROM
			tb_as AS a
		INNER JOIN
			tb_laundry AS l
		ON 
			a.laundry_code = l.laundry_code
		order by a.as_number desc;
	</select>
	
	<select id="readyAsList" resultMap="asResultMap">
	  	/* AS 대기 목록 조회 */
		SELECT
			a.as_code
			,a.as_number
			,a.as_state
			,l.laundry_name
			,a.as_title
			,a.as_add_file
			,a.m_id
			,a.regist_time
			,a.visit_time
		FROM
			tb_as AS a
		INNER JOIN
			tb_laundry AS l
		ON 
			a.laundry_code = l.laundry_code
		AND a.as_state = '대기'		
		order by a.as_number desc;
	</select>
	
	<select id="startAsList" resultMap="asResultMap">
	  	/* AS 접수 목록 조회 */
		SELECT
			a.as_code
			,a.as_number
			,a.as_state
			,l.laundry_name
			,a.as_title
			,a.as_add_file
			,a.m_id
			,a.regist_time
			,a.visit_time
		FROM
			tb_as AS a
		INNER JOIN
			tb_laundry AS l
		ON 
			a.laundry_code = l.laundry_code
		AND a.as_state = '접수'				
		order by a.as_number desc;
	</select>
	
	<select id="endAsList" resultMap="asResultMap">
	  	/* AS 완료 목록 조회 */
		SELECT
			a.as_code
			,a.as_number
			,a.as_state
			,l.laundry_name
			,a.as_title
			,a.as_add_file
			,a.m_id
			,a.regist_time
			,a.visit_time
		FROM
			tb_as AS a
		INNER JOIN
			tb_laundry AS l
		ON 
			a.laundry_code = l.laundry_code
		AND a.as_state = '완료'	
		order by a.as_number desc;
	</select>
	
	
	
	
	
	
	
	
	
	
	</mapper>
