<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team04.mapper.BoardMapper">

	<resultMap type="Board" id="boardResultMap">
		<id 	column="board_code" 			property="boardCode"/>
		<result column="board_menu_code" 		property="boardMenuCode"/>
		<result column="m_id" 					property="memeberId"/>
		<result column="board_parent_no" 		property="boardParentNo"/>
		<result column="board_read_count" 		property="boardReadCount"/>
		<result column="board_title" 			property="boardTitle"/>
		<result column="board_content" 			property="boardContent"/>
		<result column="board_secret" 			property="boardSecret"/>
		<result column="board_add_file" 		property="boardAddFile"/>
		<result column="board_add_file_name" 	property="boardAddFileName"/>
		<result column="board_add_file_vol" 	property="boardAddFileVol"/>
		<result column="regist_time" 			property="registTime"/>
		<result column="update_time" 			property="updateTime"/>
	</resultMap>
	
	<update id="noticeModify" parameterType="Board">
		/* 공지 글 수정 */
			UPDATE 
				tb_board
			set		
				board_title = #{boardTitle}
				,board_content = #{boardContent}
				,board_add_file = #{boardAddFile}
				,board_add_file_name = #{boardAddFileName}
				,board_add_file_vol = #{boardAddFileVol}
				,update_time = CURDATE()			
			WHERE board_code = #{boardCode};
	</update>
	
	
	<insert id="noticeWrite" parameterType="Board">
		/* 공지 글 작성 */
	 INSERT INTO tb_board
		(board_code
			,board_menu_code
			,m_id
			,board_parent_no
			,board_read_count
			,board_title
			,board_content
			,board_secret
			,board_add_file
			,board_add_file_name
			,board_add_file_vol
			,regist_time
			,update_time)
		VALUES (
			(SELECT
			CONCAT('notice_code','_',(LPAD(COUNT(*)+1,3,'0')))FROM tb_board ALIAS_FOR_SUBQUERY)
		, 'notice_menu_code_001'
		, 'id001'			
		, (SELECT
			IFNULL(MAX(b.board_parent_no), 0)+1
			FROM
			tb_board AS b)
		, 0		
		, #{boardTitle}
		, #{boardContent}
		, '0'
		, '0'
		, '0'
		, '0'
		, CURDATE()
		, CURDATE());

	</insert>

	
	<select id="getBoardDetailByCode" resultMap="boardResultMap">
	
	 /* 게시물 조회 */
		SELECT
			 b.board_parent_no
			,b.board_secret
			,b.board_title
			,b.board_content
			,b.board_add_file
			,b.board_add_file_name
			,b.m_id
			,b.update_time
			,b.board_read_count
		FROM
			tb_board AS b
		WHERE
			b.board_menu_code = #{boardMenuCode}
		and
			b.board_parent_no = #{boardParentNo};		 		
	</select>	
			
			
		<!-- SELECT
			*
			from(
			SELECT
			@rownum:=@rownum+1, a.*
			from
			(SELECT
				b.board_menu_code
				,b.board_parent_no
				,b.board_secret
				,b.board_title
				,b.board_add_file
				,b.m_id
				,b.update_time
				,b.board_read_count
			FROM
				tb_board AS b
			WHERE
			b.board_menu_code= #{boardMenuCode}
			and
				b.board_parent_no = #{boardParentNo}) as a,
			(SELECT @rownum:=0) AS r) AS c
			
			ORDER BY board_parent_no DESC; -->


	<select id="getQnaComplainList" resultMap="boardResultMap">
		/* 문의사항(서비스 불만족) 목록 조회 */
		SELECT
			b.board_menu_code
			,b.board_parent_no
			,b.board_secret
			,b.board_title
			,b.board_add_file
			,b.m_id
			,b.update_time
			,b.board_read_count
		FROM
			tb_board AS b
		WHERE
		b.board_menu_code= 'notice_menu_code_005';		
	</select>	
	
	<select id="getQnaPayList" resultMap="boardResultMap">
		/* 문의사항(결제 포인트) 목록 조회 */
		SELECT
			b.board_menu_code
			,b.board_parent_no
			,b.board_secret
			,b.board_title
			,b.board_add_file
			,b.m_id
			,b.update_time
			,b.board_read_count
		FROM
			tb_board AS b
		WHERE
			b.board_menu_code= 'notice_menu_code_004';		
	</select>	
		
	<select id="getQnaPickupList" resultMap="boardResultMap">
		/* 문의사항(수거 배송) 목록 조회 */
		SELECT		
			b.board_menu_code
			,b.board_parent_no
			,b.board_secret
			,b.board_title
			,b.board_add_file
			,b.m_id
			,b.update_time
			,b.board_read_count
		FROM
			tb_board AS b
		WHERE
			b.board_menu_code= 'notice_menu_code_003';		
	</select>	

	<select id="getQnaServiceList" resultMap="boardResultMap">
		/* 문의사항(서비스 이용) 목록 조회 */
		SELECT
			b.board_menu_code
			,b.board_parent_no
			,b.board_secret
			,b.board_title
			,b.board_add_file
			,b.m_id
			,b.update_time
			,b.board_read_count
		FROM
			tb_board AS b
		WHERE
				b.board_menu_code= 'notice_menu_code_002';
	</select>

	<select id="getNoticeList" resultMap="boardResultMap">
	  	/* 공지사항 목록 조회 */
		SELECT
			b.board_menu_code
			,b.board_parent_no
			,b.board_title
			,b.board_add_file
			,b.m_id
			,b.update_time
			,b.board_read_count
		FROM
			tb_board AS b
		WHERE
		b.board_menu_code= 'notice_menu_code_001';
	</select>


</mapper>