<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team04.mapper.HolidayMapper">

	<resultMap type="HolidayList" 					id="HolidayListResultMap">
		<id column="laundry_code"					property="holidayCode"/>
		<result column="m_id" 						property="laundryCode"/>
		<result column="level_code" 				property="yearlyHolidayDate"/>
		<result column="laundry_name" 				property="yearlyHolidayName"/>
		<result column="laundry_state" 				property="holidayCodeUse"/>
	</resultMap>
	
			
	<resultMap type="YearlyHoliday" 				id="holidayResultMap">
		<id column="yearly_holiday_code" 			property="yearlyHolidayCode"/>
		<result column="yearly_holiday_date" 		property="yearlyHolidayDate"/>
		<result column="yearly_holiday_name"		property="yearlyHolidayName"/>
		<result column="holiday_code_use" 			property="holidayCodeUse"/>
		<result column="admin_level_code" 			property="adminLevelCode"/>
		<result column="regist_time" 				property="registTime"/>
	</resultMap>
	
		<update id="modifyHoliday"  parameterType="HolidayList">
		/* 세탁소별 휴일 수정 */
		UPDATE
		tb_holiday
		<trim prefix="SET" prefixOverrides=",">
			<if test="holidayCode != null and holidayCode != ''">
				holiday_code = #{holidayCode}
			</if>
			<if test="laundryCode != null and laundryCode != ''">
				,laundry_code = #{laundryCode}
			</if>
			<if test="yearlyHolidayDate != null and yearlyHolidayDate != ''">
				,yearly_holiday_date = #{yearlyHolidayDate}
			</if>
			<if test="yearlyHolidayName != null and yearlyHolidayName != ''">
				,yearly_holiday_name = #{yearlyHolidayName}
			</if>
			<if test="holidayCodeUse != null and holidayCodeUse != ''">
				,holiday_code_use = #{holidayCodeUse}
			</if>
		</trim>
		WHERE
		holiday_code = #{holidayCode};


	</update>
	
	
	
	<select id="holidayList" parameterType="String" resultMap="HolidayListResultMap">
		SELECT 
			holiday_code, 
			laundry_code, 
			yearly_holiday_date,
			yearly_holiday_name,
			holiday_code_use
		FROM 
			tb_holiday		
	</select>
		
	<select id="yearlyHolidayList" resultMap="holidayResultMap">
		SELECT
			h.yearly_holiday_code 
			,h.yearly_holiday_date
			,h.yearly_holiday_name 
			,h.holiday_code_use
		FROM
			tb_yearly_holiday AS h;
	</select>
	
</mapper>