<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team04.mapper.LaundryInfoSebuMapper">

   
   <resultMap type="laundryInfoSebu"               id="LaundryInfoResultMap">
      <id column="laundry_code"                   property="laundryCode"/>
      <result column="m_id"                      property="memberId"/>
      <result column="level_code"                property="levelCode"/>
      <result column="laundry_name"                property="laundryName"/>
      <result column="laundry_state"                property="laundryState"/>
      <result column="laundry_post_num"             property="laundryPostNum"/>
      <result column="laundry_addr"                property="laundryAddr"/>
      <result column="laundry_detail_addr"          property="laundryDetailAddr"/>
      <result column="laundry_tel"                property="laundryTel"/>
      <result column="laundry_license_img"          property="laundryLicenseImg"/>
      <result column="laundry_img"                property="laundryImg"/>
      <result column="skill_licence"                property="skillLicence"/>
      <result column="business_number"             property="businessNumber"/>
      <result column="admin_level_code"             property="adminLevelCode"/>
      <result column="regist_time"               property="registTime"/>
   </resultMap>
   
   <select id="laundryInfoSebu" parameterType="String" resultMap="LaundryInfoResultMap">
	   SELECT 
			  laundry_name
			, laundry_state
			, laundry_addr
			, laundry_tel
			, level_code
		FROM 
			tb_laundry
   </select>
   <select id="getLaundryInfoSebu"  parameterType="HashMap" resultMap="LaundryInfoResultMap">
	  SELECT 
		 	 l.laundry_code
			,l.m_id
			,l.level_code
			,l.laundry_name
			,l.laundry_state
			,l.laundry_post_num
			,l.laundry_addr
			,l.laundry_detail_addr
			,l.laundry_tel
			,l.laundry_license_img
			,l.laundry_img
			,l.skill_licence
			,l.business_number
			,l.admin_level_code
			,l.regist_time
		FROM 
			tb_laundry AS l
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
		<if test="searchValue != null and searchValue != ''">
			${searchKey} LIKE CONCAT('%',#{searchValue}, '%');
					<!-- 퍼센테이지 있으면 가운데 문자열이 포함된 어떠한 내용이든 ~ -->	

		</if>
		</trim>
   </select>
   

   
   
   
   
</mapper>