<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ks43team04.mapper.PickUpMapper">

	<resultMap type="PickUp" id="pickUpResultMap">
		<id 	column="ilban_pickup_code" 			property="ilbanPickupCode"/>
		<result column="user_code" 		property="userCode"/>
		<result column="laundry_code" 					property="laundryCode"/>
		<result column="request_code" 		property="requestCode"/>
		<result column="pickup_want_date" 		property="pickupWantDate"/>
		<result column="pickup_finish_time" 			property="pickupFinishTime"/>
		<result column="contract_rider_code" 			property="contractRriderCode"/>
		<collection property="user" 				ofType="User"> 
			<id 	column="user_code" 				property="userCode"/>
			<result column="m_id" 				property="mId"/>
			<result column="user_level_change_code" 		property="userLevelChangeCode"/>
			<result column="point_update" 		property="pointUpdate"/>
			<result column="admin_level_code" 			property="adminLevelCode"/>
		</collection>
		<collection property="memberList" 				ofType="Member"> 
			<id column="m_id" 						property="memberId"/>
			<result column="level_code" 			property="levelCode"/>
			<result column="m_pw" 					property="memberPw"/>
			<result column="m_pw_QnA_code" 			property="memberPwQnACode"/>
			<result column="m_name" 				property="memberName"/>
			<result column="m_birth" 				property="memberBirth"/>
			<result column="m_addr" 				property="memberAddr"/>
			<result column="m_phone" 				property="memberPhone"/>
			<result column="m_gender" 				property="memberGender"/>
			<result column="m_out_code" 			property="memberOutCode"/>
			<result column="m_email" 				property="memberEmail"/>
			<result column="m_reg_date" 			property="memberRegDate"/>
			<result column="admin_level_code" 		property="adminLevelCode"/>
			<result column="regist_time" 			property="registTime"/>
		</collection>
		<collection property="laundryList" 				ofType="LaundryList"> 
			<id column="laundry_code"						property="laundryCode"/>
			<result column="m_id" 							property="memberId"/>
			<result column="level_code" 					property="levelCode"/>
			<result column="laundry_name" 					property="laundryName"/>
			<result column="laundry_state" 					property="laundryState"/>
			<result column="laundry_post_num" 				property="laundryPostNum"/>
			<result column="laundry_addr" 					property="laundryAddr"/>
			<result column="laundry_detail_addr" 			property="laundryDetailAddr"/>
			<result column="laundry_tel" 					property="laundryTel"/>
			<result column="laundry_license_img" 			property="laundryLicenseImg"/>
			<result column="laundry_img" 					property="laundryImg"/>
			<result column="skill_licence" 					property="skillLicence"/>
			<result column="business_number" 				property="businessNumber"/>
			<result column="admin_level_code" 				property="adminLevelCode"/>
			<result column="regist_time"					property="registTime"/>
		</collection>
	</resultMap>
	
<!-- 	<update id="noticeModify" parameterType="Board">
		/* 공지 글 수정 */
			UPDATE 
				tb_board
			set		
				board_title = #{boardTitle}
				,board_content = #{boardContent}
				,board_add_file = #{boardAddFile}
				,board_add_file_name = #{boardAddFileName}
				,board_add_file_vol = #{boardAddFileVol}
				,update_time = CURDATE()			
			WHERE board_code = #{boardCode};
	</update>
	
	
	<insert id="noticeWrite" parameterType="Board">
		/* 공지 글 작성 */
	 INSERT INTO tb_board
		(board_code
			,board_menu_code
			,m_id
			,board_parent_no
			,board_read_count
			,board_title
			,board_content
			,board_secret
			,board_add_file
			,board_add_file_name
			,board_add_file_vol
			,regist_time
			,update_time)
		VALUES (
			(SELECT
			CONCAT('notice_code','_',(LPAD(COUNT(*)+1,3,'0')+1))FROM tb_board ALIAS_FOR_SUBQUERY)
		, 'notice_menu_code_001'
		, 'id001'			
		, (SELECT
			IFNULL(MAX(b.board_parent_no), 0)+1
			FROM
			tb_board AS b)
		, 0		
		, #{boardTitle}
		, #{boardContent}
		, '0'
		, '0'
		, '0'
		, '0'
		, CURDATE()
		, CURDATE());

	</insert> -->

	

	<select id="getPickUpList" parameterType="String" resultMap="pickUpResultMap">
	  	SELECT
			l.laundry_name 
			,m.m_name
			,ip.pickup_want_date
			,ip.pickup_finish_time
		FROM
			tb_ilban_pickup AS ip
		INNER JOIN
			tb_user AS u
			on
			u.user_code = ip.user_code
		INNER JOIN
			tb_member AS m
			on
			u.m_id = m.m_id
		INNER JOIN
			tb_laundry AS l
			ON 
			ip.laundry_code=l.laundry_code
	 	<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchValue != null and searchValue != ''"> 
				m.m_name = #{sessionId}; 
			</if>
		</trim>		
	</select>


</mapper>