<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">
	  
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">


		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
		<h1>이쪽에다 꾸미는겁니다.</h1>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</th:block>



</html>