<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/userDefault}">
	  
	  
	<!-- 사용자정의 contents -->
	<th:block layout:fragment="customContents">
	
	<!-- testimonail-section -->
	
	<div class="testimonail-section mb-50 " style="margin: 0 auto;">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<h3 class="title-name">무인 세탁 프렌차이즈 및 일반 세탁소 연계 플랫폼</h3>
          			<h4 class="title-name2">project : 2022.2.21 ~ 2022.8.3 </h4>
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="/user/testimonail/승현.png" alt="">
							</div>
							<div class="client-meta">
								<h3> 정 승 현 <span> 한국 스마트 정보교육원 4팀 </span></h3>							
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<a th:href="@{/project}">
								<img src="/user/testimonail/용민.png" alt="">
								</a>
							</div>
							<div class="client-meta">
								<h3> 이 용 민 <span> 한국 스마트 정보교육원 4팀 </span></h3>								
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<a th:href="@{/user/board/noticeList}">
								<img src="/user/testimonail/수빈.png" alt="">
								</a>
							</div>
							<div class="client-meta">
								<h3> 안 수 빈 <span> 한국 스마트 정보교육원 4팀 </span></h3>								
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<a th:href="@{/user/searchmap}">
								<img src="/user/testimonail/현우.png" alt="">
								</a>
							</div>
							<div class="client-meta">
								<h3> 이 현 우  <span> 한국 스마트 정보교육원 4팀 </span></h3>								
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<a th:href="@{/user/ilbanYeyak}">
								<img src="/user/testimonail/우영.png" alt="">
								</a>
							</div>
							<div class="client-meta">
								<h3> 최 우 영 <span> 한국 스마트 정보교육원 4팀 </span></h3>								
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<a th:href="@{/user/login}">
								<img src="/user/testimonail/휘연.png" alt="">
								</a>
							</div>
							<div class="client-meta">
								<h3> 홍 휘 연 <span> 한국 스마트 정보교육원 4팀 </span></h3>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->
	
	<!-- advertisement section -->
	<!-- <div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">무인 세탁 프렌차이즈 및 일반 세탁소 연계 플렛폼</p>
						<h2>왜 <span class="orange-text">무인 프로젝트</span>를 선택했을까?</h2>
						<p>코로나19로 인해 우리에게 찾아 온 ‘언택트’ 생활은 우리의 일상을 바꿔 놓았습니다. 학생들은 온라인으로 수업으로, 문화공연은 스트리밍으로 이와 같이 생활/집안일에도 언택트가 더욱이 필요합니다.</p>
						<p>또한 가맹 본사의 독식 체제가 아닌 지역상권,소상공인 까지 생각하여 도시 재생을 위해 기본 세탁은 "무인 세탁"으로 기능 세탁은 "일반세탁소"와 연계하는 연계 플랫폼도 함께 준비합니다.</p>
						<a th:href="@{/project}" class="boxed-btn mt-4">더보기</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end advertisement section -->
	
	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">팀원</span> 소개</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-1"></div>
						<div class="news-text-box">
							<h3 id="memberName">정 승 현</h3>							
							<p class="excerpt"> - 메인<br> - 관리자 메인 <br> - 전체 공휴일 <br> - 세탁소별 휴일 지정<br></p>							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-2"></div>
						<div class="news-text-box">
							<h3 id="memberName">이 용 민 </h3>							
							<p class="excerpt"> - 프로젝트 소개 <br> - 매장 월별 매출 <br> - 세탁물 종류 및 가격 <br> - 매장별 회원목록 <br></p>							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-3"></div>
						<div class="news-text-box">
							<h3 id="memberName">안 수 빈</h3>						
							<p class="excerpt"> - 고객센터 <br> - 매장별 고장신고접수 <br> - 수거배송현황 <br> - 고객센터 관리 <br></p>							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-4"></div>
						<div class="news-text-box">
							<h3 id="memberName">이 현 우</h3>						
							<p class="excerpt"> - 매장 찾기 <br> - 매장별 상세정보 <br> - 매장 예약 <br> - 매장 별점 리뷰<br></p>							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-5"></div>
						<div class="news-text-box">
							<h3 id="memberName">최 우 영</h3>						
							<p class="excerpt"> - 무인 세탁기 예약 <br> - 일반세탁소 예약 <br> - 일반세탁소 매출 <br> - 일반세탁소 수거신청 <br></p>							
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-6"></div>
						<div class="news-text-box">
							<h3 id="memberName">홍 휘 연</h3>						
							<p class="excerpt"> - 로그인 <br> - 회원관리 <br> - 회원가입 <br> - 월별 환불요청 <br></p>							
						</div>
					</div>
				</div>
				
				
				
				
				</div>
			</div>			
		</div>
	
	<!-- end latest news -->

	








	</th:block>
</html>