<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/userDefault}">


<!-- 사용자정의 contents -->
<th:block layout:fragment="customContents">

	<!-- testimonail-section -->

	<div class="testimonail-section mb-50 " style="margin: 0 auto;">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<h3 class="title-name">무인 세탁 프렌차이즈 및 일반 세탁소 연계 플랫폼</h3><br>
					<h4 class="title-name2">project : 2022.2.21 ~ 2022.8.3</h4>
					<div style="text-align: left;">
						로그인 및 권한별 상세기능<br>
						관리자(id001), 회원(id016), 일반점주(id011), 무인점주(id006)<br>
						관리자 - 관리자 페이지, 전체 회원 관리, 휴일 관리, 회계 관리, 장비 관리, 고객센터 관리<br>
						회원 - 회원가입, 매장찾기, 예약 및 결제, 마이페이지(회원정보, 예약현황, 수거배송조회, 결제 및 환불 내역,  포인트 조회, 문의내역)<br>
						일반 세탁소 점주 - 마이페이지, 매장관리 페이지(세탁물 종류 및 가격 수정, 휴일 지정, 환불 신청, 월별 매출액, 주문현황)<br>
						무인 세탁소 점주 - 마이페이지, 매장관리 페이지(휴일 지정, 월별 매출액, 매장이용 회원 목록, 장비 고장 신고, 세탁기 예약 현황)<br>
						
					</div>
			
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->

	<!-- advertisement section -->
	<!-- <div class="abt-section mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<div class="abt-bg">
						<a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div class="abt-text">
						<p class="top-sub">무인 세탁 프렌차이즈 및 일반 세탁소 연계 플렛폼</p>
						<h2>왜 <span class="orange-text">무인 프로젝트</span>를 선택했을까?</h2>
						<p>코로나19로 인해 우리에게 찾아 온 ‘언택트’ 생활은 우리의 일상을 바꿔 놓았습니다. 학생들은 온라인으로 수업으로, 문화공연은 스트리밍으로 이와 같이 생활/집안일에도 언택트가 더욱이 필요합니다.</p>
						<p>또한 가맹 본사의 독식 체제가 아닌 지역상권,소상공인 까지 생각하여 도시 재생을 위해 기본 세탁은 "무인 세탁"으로 기능 세탁은 "일반세탁소"와 연계하는 연계 플랫폼도 함께 준비합니다.</p>
						<a th:href="@{/project}" class="boxed-btn mt-4">더보기</a>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- end advertisement section -->

	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">
						<h3>
							<span class="orange-text">팀원</span> 소개
						</h3>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-1"></div>
						<div class="news-text-box">
							<h3 id="memberName">정 승 현</h3>
							<p class="excerpt">
								- 메인<br> - 관리자 메인 <br> - 전체 공휴일 <br> - 세탁소별 휴일 지정<br>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-2"></div>
						<div class="news-text-box">
							<h3 id="memberName">이 용 민</h3>
							<p class="excerpt">
								- 프로젝트 소개  / - 관리자 페이지<br>  <strong>1.</strong>세탁소별 휴일 <strong>2.</strong>매장 월별 매출액<br>
								<strong>3.</strong>전체 수거 및 배송 현황 <strong>4.</strong>전체 장비 스팩<br> 
								<strong>5.</strong>매장별 장비 현황 <strong>6.</strong>세탁물 종류 및 가격 
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-3"></div>
						<div class="news-text-box">
							<h3 id="memberName">안 수 빈</h3>
							<p class="excerpt">
								- 고객센터 <br> - 매장별 고장신고접수 <br> - 수거배송현황 <br> -
								고객센터 관리 <br>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-4"></div>
						<div class="news-text-box">
							<h3 id="memberName">이 현 우</h3>
							<p class="excerpt">
								- 매장 검색 <br> - 매장별 상세정보 <br> - 매장 별점 리뷰<br> -
								결제진행 및 내역확인<br>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-5"></div>
						<div class="news-text-box">
							<h3 id="memberName">최 우 영</h3>
							<p class="excerpt">
								- 무인 세탁기 예약 <br> - 일반세탁소 예약 <br> - 일반세탁소 매출 <br>
								- 일반세탁소 수거신청 <br>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<div class="latest-news-bg news-bg-6"></div>
						<div class="news-text-box">
							<h3 id="memberName">홍 휘 연</h3>
							<p class="excerpt">
								- 로그인 <br> - 회원관리 <br> - 회원가입 <br> - 월별 환불요청 <br>
							</p>
						</div>
					</div>
				</div>




			</div>
		</div>
	</div>

	<!-- end latest news -->


	<div id="container" style="height: 1200px;">

		<div class="tit-area" style="border-top: 3px solid #f2f2f2; padding: 50px 15px 0 0;">
			<h3>매장찾기</h3>
			<p class="sub-tx">
				원하시는 <span style="font-weight: bolder;">지역</span>을 검색해 주세요.
			</p>
		</div>

		<div class="search-map">
			<form onsubmit="searchPlaces(); return false;">
				<div id="laundryValueDiv">

					<input type="radio" id="ilbanMapCheck" name="laundryMapRadio"
						value="기능세탁" checked><label for="ilbanMapCheck">기능</label>
					<input type="radio" id="muinMapCheck" name="laundryMapRadio"
						value="무인세탁"><label for="muinMapCheck">무인</label>
				</div>
				<input type="text" value="전주" id="keyword" name="hiddenKeyword"
					style="width: 132px;" size="15" placeholder="예) 전주"> <input
					type="hidden" value="크린토피아 " id="keywordaa" name="hiddenKeyword"
					size="15"> <input type="hidden" value=" 효자동" id="keywordbb"
					name="hiddenKeyword" size="15"> <input type="hidden"
					value=" 드라이크리닝" id="keywordcc" name="hiddenKeyword" size="15">
				<button type="submit" id="search-map-btn">

					<p style="color: #fff">.</p>
				</button>

			</form>
			<p style="display: inline; margin: auto;">지도만 보기</p>
			<input type="checkbox" id="mapCheck" onclick="mapChecked()"
				style="margin-top: 30px;">
		</div>

		<div class="tab-content">


			<div class="tab-pane active" id="home" role="tabpanel"
				aria-labelledby="home-tab">
				<div class="map_wrap" style="margin-left: 0; margin-top: -30px;">
					<div id="map"
						style="width: 80%; height: 700px; overflow: hidden; box-shadow: 3px 3px 3px 3px gray;">
						<div class="hAddr">
							<span class="title">지도중심기준 행정동 주소정보</span> <span id="centerAddr"></span>
						</div>
					</div>

					<div id="menu_wrap" class="bg_white"
						style="margin-left: 10%; width: 20%;">
						<div class="option">
							<div></div>
						</div>
						<hr>
						<ul id="placesList"></ul>
						<div id="pagination"></div>
					</div>
				</div>
				<script type="text/javascript">
							function mapChecked() {

								var menuWrap = document
										.getElementById('menu_wrap');
								var mapCheck = document
										.getElementById('mapCheck');

								if (mapCheck.checked == true) {
									menuWrap.style.display = "none";
								} else {
									menuWrap.style.display = "block";
								}
							}
						</script>
			</div>
			<div class="tab-pane" id="profile" role="tabpanel"
				aria-labelledby="profile-tab"></div>
		</div>


	</div>
	<!--매장정보 모달 -->
	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">매장정보</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" style="padding: 30px;">
					<h5>매장 정보를 확인하시겠습니까?</h5>
					<p>세세한 매장 정보들을 한눈에 볼 수 있습니다!</p>
				</div>
				<div class="modal-footer" style="padding: 0;">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal"
						style="margin: 0; border: 0; border-radius: 0; padding: 0; float: left; width: 50%; height: 50px; font-size: 20px;">닫기</button>
					<button type="button" class="btn btn-primary"
						onClick="location.href='/user/laundryInfo'"
						style="border: 0; border-radius: 0; margin: 0; padding: 0; float: right; width: 50%; height: 50px; font-size: 20px;">확인</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 매장정보 모달 끝 -->
	<!--자바스크립트-->

	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9783b710943997b9c55ffc0990321485&libraries=services"></script>
	<script>
      var markers = [];

      var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = {
         center : new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
         level : 3
      // 지도의 확대 레벨
      };

      // 지도를 생성합니다    
      var map = new kakao.maps.Map(mapContainer, mapOption);

      

      // 장소 검색 객체를 생성합니다
      var ps = new kakao.maps.services.Places();

      // 검색 결과 목록이나 마커를 클릭했을 때 장소명을 표출할 인포윈도우를 생성합니다
      var infowindow = new kakao.maps.InfoWindow({
         zIndex : 1
      });

      // 키워드로 장소를 검색합니다
      searchPlaces();

      // 키워드 검색을 요청하는 함수입니다
         
      function searchPlaces() {
               
         var keywordaa = document.getElementById('keywordaa').value;   //크린토피아
         var keywordbb = document.getElementById('keywordbb').value; //효자동
         var keywordcc = document.getElementById('keywordcc').value; //효자동
         
         if (document.getElementById('muinMapCheck').checked == true) {         
            var keyword = keywordaa + document.getElementById('keyword').value + keywordbb;   //크린토피아 + 검색어(전주) + 효자동
         }else if(document.getElementById('ilbanMapCheck').checked == true){
            var keyword = document.getElementById('keyword').value + keywordcc;   // 검색어(전주) + 드라이크리닝
         }else{
            var keyword = document.getElementById('keyword').value
         }

         // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
         ps.keywordSearch(keyword, placesSearchCB);
      }

      // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
      function placesSearchCB(data, status, pagination) {
         if (status === kakao.maps.services.Status.OK) {

            // 정상적으로 검색이 완료됐으면
            // 검색 목록과 마커를 표출합니다
            displayPlaces(data);

            // 페이지 번호를 표출합니다
            displayPagination(pagination);

         } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

            alert('검색 결과가 존재하지 않습니다.');
            return;

         } else if (status === kakao.maps.services.Status.ERROR) {

            alert('검색 결과 중 오류가 발생했습니다.');
            return;

         }
      }

      // 검색 결과 목록과 마커를 표출하는 함수입니다
      function displayPlaces(places) {

         var listEl = document.getElementById('placesList'), menuEl = document
               .getElementById('menu_wrap'), fragment = document
               .createDocumentFragment(), bounds = new kakao.maps.LatLngBounds(), listStr = '';

         // 검색 결과 목록에 추가된 항목들을 제거합니다
         removeAllChildNods(listEl);

         // 지도에 표시되고 있는 마커를 제거합니다
         removeMarker();

         for (var i = 0; i < places.length; i++) {

            // 마커를 생성하고 지도에 표시합니다
            var placePosition = new kakao.maps.LatLng(places[i].y,
                  places[i].x), marker = addMarker(placePosition, i), itemEl = getListItem(
                  i, places[i]); // 검색 결과 항목 Element를 생성합니다

            // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
            // LatLngBounds 객체에 좌표를 추가합니다
            bounds.extend(placePosition);

            // 마커와 검색결과 항목에 mouseover 했을때
            // 해당 장소에 인포윈도우에 장소명을 표시합니다
            // mouseout 했을 때는 인포윈도우를 닫습니다
            (function(marker, title) {
               kakao.maps.event.addListener(marker, 'mouseover',
                     function() {
                        displayInfowindow(marker, title);
                     });

               kakao.maps.event.addListener(marker, 'mouseout',
                     function() {
                        infowindow.close();
                     });

               itemEl.onmouseover = function() {
                  displayInfowindow(marker, title);
               };

               itemEl.onmouseout = function() {
                  infowindow.close();
               };
            })(marker, places[i].place_name);

            fragment.appendChild(itemEl);
         }

         // 검색결과 항목들을 검색결과 목록 Element에 추가합니다
         listEl.appendChild(fragment);
         menuEl.scrollTop = 0;

         // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
         map.setBounds(bounds);
      }

      // 검색결과 항목을 Element로 반환하는 함수입니다
      function getListItem(index, places) {

         var el = document.createElement('li'), itemStr = '<span class="markerbg marker_'
               + (index + 1)
               + '"></span>'
               + '<div class="info">'
               + '   <h5>' + places.place_name + '</h5>';

         if (places.road_address_name) {
            itemStr += '    <span>' + places.road_address_name + '</span>'
                  + '   <span class="jibun gray">' + places.address_name
                  + '</span>';
         } else {
            itemStr += '    <span>' + places.address_name + '</span>';
         }

         itemStr += '  <span class="tel">' + places.phone + '</span>'
               + '</div>' +
               '<button type="button" class="map-yayak-btn" data-toggle="modal" data-target="#exampleModal">' +'매장정보' + '</button>';
         el.innerHTML = itemStr;
         el.className = 'item';

         return el;
      }
      
      // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
      function addMarker(position, idx, title) {
         var imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
         imageSize = new kakao.maps.Size(36, 37), // 마커 이미지의 크기
         imgOptions = {
            spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(0, (idx * 46) + 10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset : new kakao.maps.Point(13, 37)
         // 마커 좌표에 일치시킬 이미지 내에서의 좌표
         }, markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize,
               imgOptions), marker = new kakao.maps.Marker({
            position : position, // 마커의 위치
            image : markerImage
         });

         marker.setMap(map); // 지도 위에 마커를 표출합니다
         markers.push(marker); // 배열에 생성된 마커를 추가합니다

         return marker;
      }

      // 지도 위에 표시되고 있는 마커를 모두 제거합니다
      function removeMarker() {
         for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
         }
         markers = [];
      }

      // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
      function displayPagination(pagination) {
         var paginationEl = document.getElementById('pagination'), fragment = document
               .createDocumentFragment(), i;

         // 기존에 추가된 페이지번호를 삭제합니다
         while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild(paginationEl.lastChild);
         }

         for (i = 1; i <= pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;

            if (i === pagination.current) {
               el.className = 'on';
            } else {
               el.onclick = (function(i) {
                  return function() {
                     pagination.gotoPage(i);
                  }
               })(i);
            }

            fragment.appendChild(el);
         }
         paginationEl.appendChild(fragment);
      }

      // 검색결과 목록 또는 마커를 클릭했을 때 호출되는 함수입니다
      // 인포윈도우에 장소명을 표시합니다
      function displayInfowindow(marker, title) {
         var content = '<div style="padding:5px;z-index:1;">' + title
               + '</div>';

         infowindow.setContent(content);
         infowindow.open(map, marker);
      }

      // 검색결과 목록의 자식 Element를 제거하는 함수입니다
      function removeAllChildNods(el) {
         while (el.hasChildNodes()) {
            el.removeChild(el.lastChild);
         }
      }
   </script>


</th:block>

<th:block layout:fragment="customJsScript">
	<script>
         $(function(){
            $(document).on('click', '.bookBtn', function(){
               var storeInfoObj = $(this).parent().find('div').children();
               var ldryName = $(storeInfoObj).eq(0).text();
               var ldryAddr = $(storeInfoObj).eq(1).text();
               var ldryNum = $(storeInfoObj).eq(3).text();
                $("#ldryName").val(ldryName);
                $("#ldryAddr").val(ldryAddr);
                $("#ldryNum").val(ldryNum);
               
               console.log($(this).parent().find('div').children());
               
               console.log($(storeInfoObj).eq(0).text());
               console.log($(storeInfoObj).eq(1).text());
               console.log($(storeInfoObj).eq(2).text());
               console.log($(storeInfoObj).eq(3).text());
               
                              
               
            });
         });
         
         
         $(document).ready(function(){
            $('#modalFragment').on('show.bs.modal',function(event){
               LAUNDRYNAME = $(event.relatedTarget).data('laundryname');
               console.log(LAUNDRYNAME);
            });
         });
      </script>








</th:block>
</html>